
recursive-include mobsf/StaticAnalyzer/tools *
recursive-include mobsf/DynamicAnalyzer/tools *
recursive-include mobsf/StaticAnalyzer/views/android/rules *
recursive-include mobsf/StaticAnalyzer/views/ios/rules *
recursive-include mobsf/signatures *
recursive-include mobsf/static *
recursive-include mobsf/templates *
recursive-include mobsf/install *
recursive-include LICENSES *
include requirements.txt
recursive-exclude *.pyc
