
recursive-include mobsf/StaticAnalyzer/tools *
recursive-include mobsf/DynamicAnalyzer/tools *
recursive-include mobsf/signatures *
recursive-include mobsf/static *
recursive-include mobsf/templates *
recursive-include mobsf/install *
include manage.py
include requirements.txt
recursive-exclude *.pyc
