[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.1.5"
lxml = ">=4.6.2"
rsa = ">=4.7"
biplist = ">=1.0.3"
requests = ">=2.25.1"
bs4 = ">=0.0.1"
colorlog = ">=4.7.2"
macholib = ">=1.14"
whitenoise = ">=5.2.0"
waitress = {version = ">=1.4.4", markers="sys_platform == 'win32'"}
tzdata = {version = "*", markers="sys_platform == 'win32'"}
gunicorn = {version = ">=20.0.4", markers="sys_platform != 'win32'"}
psutil = ">=5.8.0"
shelljob = ">=0.6.2"
asn1crypto = ">=1.4.0"
oscrypto = ">=1.2.1"
distro = ">=1.5.0"
ip2location = "==8.10.0"
lief = ">=0.12.3"
pdfkit = ">=0.6.1"
google-play-scraper = ">=0.1.2"
androguard = "==3.4.0a1"
apkid = "==2.1.5"
quark-engine = "==23.7.1"
frida = "==15.2.2"
tldextract = "==3.4.4"
openstep-parser = "==1.5.4"
svgutils = "==0.3.4"
arpy = "==2.3.0"
apksigtool = "==0.1.0"
"ruamel.yaml" = "==0.16.13"
decorator = "==4.4.2"
http-tools = "~=3.0.0"
libsast = "~=1.5.2"

[dev-packages]

[requires]
python_version = "3"
