Django>=3.1.5
lxml>=4.6.2
rsa>=4.7
biplist>=1.0.3
requests>=2.25.1
bs4>=0.0.1
colorlog>=4.7.2
macholib>=1.14
whitenoise>=5.2.0
waitress>=1.4.4;platform_system=='Windows'
gunicorn>=20.0.4;platform_system!='Windows'
psutil>=5.8.0
shelljob>=0.6.2
asn1crypto>=1.4.0
oscrypto>=1.2.1
distro>=1.5.0
IP2Location==8.6.2
lief>=0.11.0
http-tools>=2.1.0
libsast>=1.4.2
pdfkit>=0.6.1
google-play-scraper>=0.1.2
androguard==3.4.0a1
apkid==2.1.2
quark-engine==21.6.3
frida==15.0.2
# For semgrep & mitmproxy
ruamel.yaml==0.16.13 # pyup: ignore
click==7.1.2 # pyup: ignore
decorator==4.4.2 # pyup: ignore
