Django==3.1.5
pdfkit==0.6.1
androguard==3.3.5
lxml==4.6.2
rsa==4.7
biplist==1.0.3
requests==2.25.1
bs4==0.0.1
colorlog==4.7.2
macholib==1.14
google-play-scraper==0.1.2
whitenoise==5.2.0
waitress==1.4.4;platform_system=='Windows'
gunicorn==20.0.4;platform_system!='Windows'
frida==14.2.6
psutil==5.8.0
shelljob==0.6.2
asn1crypto==1.4.0
oscrypto==1.2.1
distro==1.5.0
IP2Location==8.5.1
lief==0.10.1
http-tools==2.0.0
libsast==1.3.7
# Do not update the following
apkid==2.1.1
click==7.1.2 # pyup: ignore
cryptography<3.3,>=3.2 # pyup: ignore
pyOpenSSL<19.2,>=19.1.0 # pyup: ignore
# For semgrep
ruamel.yaml==0.16.10  # pyup: ignore