Django==3.0.8
pdfkit==0.6.1
androguard==3.3.5
lxml==4.5.2
rsa==4.6
biplist==1.0.3
requests==2.24.0
bs4==0.0.1
colorlog==4.2.1
macholib==1.14
google-play-scraper==0.0.3.0
whitenoise==5.1.0
waitress==1.4.4
gunicorn==20.0.4
frida==12.10.4
psutil==5.7.2
shelljob==0.6.1
asn1crypto==1.3.0
oscrypto==1.1.0
distro==1.5.0
IP2Location==8.4.1
# Do not update the following
apkid==2.1.0
cryptography<3.0,>=2.9 # pyup: ignore
pyOpenSSL<19.2,>=19.1.0 # pyup: ignore
http-tools==1.1.1
