
  {% extends "base.html" %}
   {% load staticfiles %}
   {% block content %}
<style type="text/css" media="print">
      #mobsf_header{
        visibility: hidden;
      }
      @page { size: landscape; }
      @media print {
        .btn, #scan_opts, #view_box  {
          display: none;
        }
      #mobsf_header {
          visibility: visible;
        }
       }
</style>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <div class="sidebar" id="scrollspy">

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="nav sidebar-menu">
            <li class="header">Static Analysis</li>
            <li class="active"><a href="#information"><i class="glyphicon glyphicon-info-sign"></i> Information</a></li>
            <li><a href="#options"><i class="glyphicon glyphicon-tasks"></i> Scan Options</a></li>
            <li><a href="#certificate"><i class="fa fa-certificate"></i> Signer Certificate</a></li>
            <li><a href="#permissions"><i class="fa fa-align-justify"></i> Permissions</a></li>
            <li><a href="#binary_analysis"><i class="fa fa-flag"></i> Binary Analysis</a></li>
            
            <li><a href="#android-api"><i class="fa fa-dot-circle-o"></i> Android API</a></li>
            <li><a href="#browsable"><i class="fa fa-clone"></i> Browsable Activities</a></li>

            <li class="treeview">
              <a href="javascript::;"><i class="fa fa-circle-o"></i> Security Analysis</a>
              <ul class="nav treeview-menu">
                <li><a href="#manifest"><i class="fa fa-search"></i> Manifest Analysis</a></li>
                 
                <li><a href="#code"><i class="fa fa-code"></i> Code Analysis</a></li>
                <li><a href="#file"><i class="fa fa-file-text-o"></i> File Analysis</a></li>
              </ul>
            </li>

            <li class="treeview">
              <a href="javascript::;"><i class="fa fa-bug"></i> Malware Analysis</a>
              <ul class="nav treeview-menu">
                <li><a href="#apkid"><i class="fa fa-android"></i> APKiD Analysis</a></li>
                {% if VT_RESULT %}
                  <li><a href="#virus_total"><i class="fa fa-upload"></i>Virus Total</a></li>
                {% endif %}
                <li><a href="#domain"><i class="glyphicon glyphicon-screenshot"></i> Domain Malware Check</a></li>
                </ul>
            </li>

            <li class="treeview">
              <a href="javascript::;"><i class="fa fa-plus"></i> Reconnaissance</a>
              <ul class="nav treeview-menu">
                <li><a href="#url"><i class="glyphicon glyphicon-globe"></i> URLs</a></li>
                <li><a href="#firebase"><i class="fa fa-database"></i> Firebase DB</a></li>   
                <li><a href="#email"><i class="glyphicon glyphicon-envelope"></i> Emails</a></li>
                <li><a href="#trackers"><i class="glyphicon glyphicon-eye-open"></i> Trackers</a></li>
                <li><a href="#string"><i class="glyphicon glyphicon-sort-by-alphabet-alt"></i> Strings</a></li>
              </ul>
            </li>

            <li class="treeview">
              <a href="javascript::;"><i class="fa fa-bullseye"></i> Components</a>
              <ul class="nav treeview-menu">
                <li><a href="#activities"><i class="fa fa-language"></i> Activities</a></li>
                <li><a href="#services"><i class="fa fa-gears"></i> Services</a></li>
                <li><a href="#receivers"><i class="fa fa-sort-amount-desc"></i> Receivers</a></li>
                <li><a href="#providers"><i class="fa fa-database"></i> Providers</a></li>
                <li><a href="#libraries"><i class="glyphicon glyphicon-chevron-down"></i> Libraries</a></li>
                <li><a href="#files"><i class="fa fa-files-o"></i> Files</a></li>
              </ul>
            </li>
            <li><a target="_blank" href="../PDF/?md5={{ md5 }}&amp;type=APK"><i class="glyphicon glyphicon-list-alt"></i> PDF Report</a></li>
            <li><a href="javascript:window.print()"><i class="fa fa-print"></i> Print Report</a></li>
      {% if dynamic_analysis_done %}
          <li><a href="../dynamic_report/?hash={{ md5 }}&amp;package={{ packagename }}"><i class="glyphicon glyphicon-play-circle"></i> <strong>Dynamic Analysis Report</strong></a></li>
      {% else %}
          <li><a href="../android_dynamic/?hash={{md5}}&amp;package={{packagename}}"><i class="glyphicon glyphicon-play-circle"></i> <strong>Start Dynamic Analysis</strong></a></li>
      {% endif %}
          </ul>
        </div>
        <!-- /.sidebar -->
      </aside>
      <div id="mobsf_header" align="center">
          <h4>MobSF Static Analysis Report - {%if real_name %} {{ real_name }}  {% else %} {{ name }} {% endif %}</h4>
        </div>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <div class="content body">

<section id="information">
  <h2 class="page-header"></h2>
  <p class="lead">
      <div class="row">
    <div class="col-sm-3">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">App Icon</h3>
          <span class="label label-primary pull-right"><i class="glyphicon glyphicon-picture"></i></span>
        </div><!-- /.box-header -->
         
        <div class="box-body center">
            <img id="app_icon" src="
            {% if icon_found %}
                /download/{{ md5 }}-icon.png
            {% else %}
                {% static 'img/no_icon.png' %}
            {% endif %}
            "/><br />
        {% if icon_hidden %}
        <strong>Hidden Icon!</strong>
        {% endif %}
        </div><!-- /.box-body -->
      </div><!-- /.box -->

        <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">App Score</h3>
          <span class="label label-danger pull-right"><i class="glyphicon glyphicon-collapse-up"></i></span>
        </div><!-- /.box-header -->
         
        <div class="box-body danger">
          <span class="label label-danger">Average CVSS</span> <b>{{ average_cvss }} </b></br>
          <span class="label label-danger">Security Score</span> <b>{{ security_score }}/100</b>
        {% if VT_RESULT %}
          {% if VT_RESULT.positives > 0 %} 
            </br>
             <span class="label label-danger">VirusTotal Detection</span> <b>{{ VT_RESULT.positives }}/{{ VT_RESULT.total }}</b>
          {% else %}
            </br>
            <span class="label label-success">VirusTotal Detection</span> <b>{{ VT_RESULT.positives }}/{{ VT_RESULT.total }}</b>
          {% endif %}
        {% endif %}
        {% if trackers.detected_trackers > 0 %}
          </br>
          <span class="label label-warning">Trackers Detection</span> <b>{{ trackers.detected_trackers }}/{{ trackers.total_trackers }}</b>
        {% else %}
          </br>
          <span class="label label-success">Trackers Detection</span> <b>{{ trackers.detected_trackers }}/{{ trackers.total_trackers }}</b>
        {% endif %}
        </div><!-- /.box-body -->
      </div><!-- /.box -->

    </div><!-- /.col -->
    <div class="col-sm-5">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">File Information</h3>
          <span class="label label-success pull-right"><i class="glyphicon glyphicon-file"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
           <div class="list-group">
                  <p>                                       
                      <span class="label label-success">Name</span>
                      {{ name }}
                  </p>
                  <p>
                      <span class="label label-success">Size</span>
                      {{ size }}
                  </p>
                  <p>
                      <span class="label label-success">MD5</span>
                      {{ md5 }}
                  </p>
                  <p>
                     <span class="label label-success">SHA1</span>
                      {{ sha1 }}                
                  </p>
                  <p>
                     <span class="label label-success">SHA256</span>
                    {{ sha256 }}
                </p>
             </div>
        
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->

    <div class="col-sm-4">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">App Information</h3>
          <span class="label label-warning pull-right"><i class="glyphicon glyphicon-info-sign"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
        <div class="list-group">
                  <p>                                       
                      <span class="label label-warning">Name</span>
                      {{ real_name }}
                  </p>
                  <p>                                       
                     <span class="label label-warning">Package Name</span>
                     {{ packagename }}
                  </p>
                  <p>
                     <span class="label label-warning">Main Activity</span>
                    {{ mainactivity }}
                  </p>
                  <p>
                     <span class="label label-warning">Target SDK</span>
                     {{ targetsdk }}           
                     <span class="label label-warning">Min SDK</span>
                      {{ minsdk }}
                     <span class="label label-warning">Max SDK</span>
                     {{ maxsdk }}
                  </p>
                  <p>
                     <span class="label label-warning">Android Version Name</span>
                     {{ androvername }}
                  </p>
                  <p>
                  <span class="label label-warning">Android Version Code</span>
                  {{ androver }}
                  </p>
       </div>
        
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
   
        <div class="col-sm-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Play Store Information</h3>
          <span class="label label-info pull-right"><i class="glyphicon glyphicon-th-large"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
           <div class="list-group">
            {% if not play_details.error %}
                  <p>                                       
                    <span class="label label-info">Title</span>
                    {{ play_details.title }}
                  </p>
                  <p>                                       
                    <span class="label label-info">Score</span>
                  {{ play_details.score}}

                   <span class="label label-info">Installs</span>
                    {{ play_details.installs }}

                   <span class="label label-info">Price</span>
                      {{ play_details.price }}

                  <span class="label label-info">Android Version Support</span>
                    {{ play_details.androidVersionText }}
                   
                    <span class="label label-info">Category</span>
		    {{ play_details.genre }}

                    <span class="label label-info">Play Store URL</span>
                      <a target="_blank" href="{{ play_details.url }}"> {{ packagename }} </a>
                  </p>
                  
                  <p>
                  <span class="label label-info">Developer Details</span>
                      {{play_details.developer}},  
                      {{play_details.developerId}}, 
                      {{play_details.developerAddress}},
                      {{play_details.developerWebsite}}, 
                      {{play_details.developerEmail}}, 
                  </p>
		  <p>
		  <span class="label label-info">Release Date</span>
		      {{ play_details.released }}
                  <span class="label label-info">Privacy Policy</span>
		   <a target="_blank" href="{{ play_details.privacyPolicy }}">Privacy link</a>
		  </p>     
                 <p>                                       
                      <span class="label label-info">Description</span>
		      <pre>{{ play_details.description }}</pre>
                  </p>
              {%  endif  %}
             </div>
        
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
 <!---Components-->

  </div><!-- /.row -->
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ act_count }}</h3>

              <p>ACTIVITIES</p>
            </div>
            <div class="icon">
              <i class="fa fa-language"></i>
            </div>
            <a href="#activities" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ serv_count }}</h3>

              <p>SERVICES</p>
            </div>
            <div class="icon">
              <i class="fa fa-gears"></i>
            </div>
            <a href="#services" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{ bro_count }}</h3>

              <p>RECEIVERS</p>
            </div>
            <div class="icon">
              <i class="fa fa-sort-amount-desc"></i>
            </div>
            <a href="#receivers" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{ prov_count }}</h3>

              <p>PROVIDERS</p>
            </div>
            <div class="icon">
              <i class="fa fa-database"></i>
            </div>
            <a href="#providers" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
 
 <!--Exported Components-->
<div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-language"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Exported </br>Activities</span>
              <span class="info-box-number">{{ e_act }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-gears"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Exported </br>Services</span>
              <span class="info-box-number">{{ e_ser }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-sort-amount-desc"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Exported </br>Receivers</span>
              <span class="info-box-number">{{e_bro}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-database"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Exported </br>Providers</span>
              <span class="info-box-number">{{e_cnt}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
 <!--End of Exported -->
</section><!-- /#introduction -->


<!-- ============================================================= -->

<section id="options">
  <h2 class="page-header"></h2>

  <div class="row">
    <div class="col-sm-4">
      <div class="box box-primary" id="scan_opts">
        <div class="box-header with-border">
          <h3 class="box-title">Scan Options</h3>
          <span class="label label-primary pull-right"><i class="glyphicon glyphicon-tasks"></i></span>
        </div><!-- /.box-header -->
        <div align="center" class="box-body">
         <div class="list-group">
                 <p> <a href="../StaticAnalyzer/?checksum={{ md5 }}&amp;name={{ name }}&amp;type=apk&amp;rescan=1" class="btn btn-info" role="button"><i class="glyphicon glyphicon-refresh"></i> Rescan</a></p>
                 <p>
                  <a href="../android_dynamic/?hash={{md5}}&amp;package={{packagename}}" class="btn btn-success" role="button"><i class="glyphicon glyphicon-play-circle"></i> Start Dynamic Analysis</a>
                 </p>
            </div>
          </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-sm-8">
      <div class="box box-danger" id="view_box">
        <div class="box-header with-border">
          <h3 class="box-title">View Code</h3>
          <span class="label label-danger pull-right"><i class="fa fa-flash"></i></span>
        </div><!-- /.box-header -->
        <div align="center" class="box-body">
          <p>
            <a target="_blank" href="{{mani}}" role="button" class="btn btn-primary"><i class="fa fa-eye"></i>  View AndroidManifest.xml</a>
            <a href="../Java/?md5={{ md5 }}{{ zipped }}" class="btn btn-info" role="button"><i class="fa fa-code"></i> View Java</a>
            <a href="../Smali/?md5={{ md5 }}" class="btn btn-info" role="button"><i class="fa fa-code"></i> View Smali</a>
            </p>
            <p>
            <a href="../generate_downloads/?hash={{ md5 }}&amp;file_type=java" class="btn btn-warning" role="button"> <i class="glyphicon glyphicon-download"></i> Download Java Code</a>
            <a href="../generate_downloads/?hash={{ md5 }}&amp;file_type=smali" class="btn btn-warning"> <i class="glyphicon glyphicon-download"></i> Download Smali Code</a> 
            <a href="../generate_downloads/?hash={{ md5 }}&amp;file_type=apk" class="btn btn-warning"> <i class="glyphicon glyphicon-download"></i> Download APK</a> 
            </p>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->
 
</section>


<!-- ============================================================= -->

<section id="certificate">
  <h2 class="page-header"></h2>
   <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa fa-certificate"></i> Signer Certificate</h3>
            </div>
 <pre class="hierarchy bring-up"><code class="language-bash" data-lang="bash">
{{ certinfo | safe}}
{% if issued == "good" %} 
<strong>Certificate Status: </strong><span class="label label-success">Good</span>
{% elif issued == "bad" %}
<strong>Certificate Status: </strong><span class="label label-danger">Bad</span>
<strong>Description:</strong>App Signed by 'Android Debug' Certificate.
Production ready applications should not be signed with 'Android Debug' Certificate.
{% elif issued == "missing" %}
<strong>Certificate Status: </strong><span class="label label-warning">Certificate not found</span>
{% elif issued == "bad hash" and sha256Digest is True %}
<strong>Certificate Status: </strong><span class="label label-warning">Warning</span>
<strong>Description:</strong>The app is signed with `SHA1withRSA`. SHA1 hash algorithm is known to have collision issues.
<strong>Note:</strong>The manifest indicates `SHA256withRSA` is in use. Be sure to manually confirm this issue.
{% elif issued == "bad hash" %}
<strong>Certificate Status: </strong><span class="label label-danger">Bad</span>
<strong>Description:</strong>The app is signed with `SHA1withRSA`. SHA1 hash algorithm is known to have collision issues.
{% endif %}
</code></pre>
</section>

<!-- ============================================================= -->

<section id="permissions">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa fa-align-justify"></i> Android Permissions</h3>
            </div>
  <div class="box-body no-padding">
             <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>PERMISSION</th>
                                                <th>STATUS</th>
                                                <th>INFO </th>
                        <th>DESCRIPTION</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                    {% for perm,desc in permissions.items %}
                    <tr>
                    <td>{{ perm }}</td>
                    <td>
                    {% if desc.status == 'dangerous' %}
                      <span class="label label-danger">dangerous</span>
                    {% elif desc.status == 'normal' %}
                      <span class="label label-info">normal</span>
                    {% elif desc.status == 'signatureOrSystem' %}
                      <span class="label label-warning">SignatureOrSystem</span>
                    {% elif desc.status == 'signature' %}
                      <span class="label label-success">signature</span>
                    {% endif %}
                    </td>
                    <td>{{ desc.info }}</td>
                    <td>{{ desc.description }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                                
                            </div>
       
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>


<!-- ============================================================= -->

<section id="binary_analysis">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa fa-flag"></i> Android Library Binary Analysis</h3>
            </div>
  <div class="box-body no-padding">
             <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>ISSUE</th>
                                                <th>SEVERITY</th>
                                                <th>DESCRIPTION</th>
                                                <th>FILES</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                    {% for item in binary_analysis %}
                      <tr>
                        <td>
                        {{item|key:"title" | safe}}
                        </td>
                        <td>
                          {% if item|key:"stat" == "high" %}
                            <span class="label label-danger">high</span>
                          {% elif item|key:"stat" == "info" %}
                            <span class="label label-info">info</span>
                          {% elif item|key:"stat" == "medium" %}
                            <span class="label label-warning">medium</span>
                          {% endif %}
                         
                        </td>
                        <td>
                        {{item|key:"desc" | safe}}
                        </td>
                        <td>
                        {{item|key:"file"}}
                        </td>
   
                       </tr>
                     {% endfor %}
                    {% if not binary_analysis  %}
                       <tr>
                         <td>
                           <p> No issue found </p>
                         </td>
                         <td>
                           <span class="label label-info">info</span>
                         </td>
                       </tr>
                    {% endif %}
                    </tbody>
                    </table>
                                
                            </div>
       
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>
<!-- ============================================================= -->


<section id="android-api">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i> Android API</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                
                                                <th>API</th>
                        <th>FILES</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&amp;md5={{ md5 }}&amp;type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>    
              {% endfor %} 
                    </tbody>
                    </table>
                                
                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>


<!-- ============================================================= -->
<section id="browsable">
  <h2 class="page-header"></h2>
   <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-clone"></i> Browsable Activities</h3> 
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>ACTIVITY</th>
                                                <th>INTENT</th>   
                                            </tr>
                                        </thead>
                                        <tbody>
                      {% for activity,intent_details in browsable_activities.items %}
                          <tr>
                            <td>{{activity}}</td>
                            <td>
                                   {% if intent_details|key:"schemes" %}
                                      <strong>Schemes</strong>: 
                                      {% for scheme in intent_details|key:"schemes" %}
                                        {{scheme}},
                                      {% endfor %}
                                       </br>
                                   {% endif %}
                                   {% if intent_details|key:"hosts" %}
                                      <strong>Hosts:</strong> {% for host in intent_details|key:"hosts" %}
                                        {{host}},
                                      {% endfor %} 
                                      </br>
                                   {% endif %}
                                   {% if intent_details|key:"ports" %}
                                      <strong>Ports:</strong> {% for port in intent_details|key:"ports" %}
                                        {{port}},
                                      {% endfor %} 
                                      </br>
                                   {% endif %}
                                   {% if intent_details|key:"mime_types" %}
                                      <strong>Mime Types:</strong> {% for mime in intent_details|key:"mime_types" %}
                                        {{mime}},
                                      {% endfor %} 
                                      </br>
                                   {% endif %}
                                   {% if intent_details|key:"paths" %}
                                      <strong>Paths:</strong> {% for path in intent_details|key:"paths" %}
                                        {{path}},
                                      {% endfor %} 
                                      </br>
                                   {% endif %}
                                   {% if intent_details|key:"path_prefixs" %}
                                      <strong>Path Prefixes:</strong> {% for prefix in intent_details|key:"path_prefixs" %}
                                        {{prefix}},
                                      {% endfor %} 
                                      </br>
                                   {% endif %}
                                   {% if intent_details|key:"path_patterns" %}
                                      <strong>Path Patterns:</strong> {% for pattern in intent_details|key:"path_patterns" %}
                                        {{pattern}},
                                      {% endfor %} 
                                      </br>
                                   {% endif %}
                              {% endfor %}
                            </td>
                          </tr>
                    </tbody>
                    </table>
                                
                            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>
<!-- ============================================================= -->

<section id="manifest">
  <h2 class="page-header"></h2>
   <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-search"></i> Manifest Analysis</h3> 
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>ISSUE</th>
                                                <th>SEVERITY</th>
                        <th>DESCRIPTION</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                      
                    {% for item in manifest %}
                      <tr>
                        <td>
                        {{item|key:"title" | safe}}
                        </td>
                        <td>

                          {% if item|key:"stat" == "high" %}
                            <span class="label label-danger">high</span>
                          {% elif item|key:"stat" == "info" %}
                            <span class="label label-info">info</span>
                          {% elif item|key:"stat" == "medium" %}
                            <span class="label label-warning">medium</span>
                          {% endif %}
                         
                        </td>
                        <td>
                        {{item|key:"desc"}}
                        </td>
   
                       </tr>
                     {% endfor %}
                    </tbody>
                    </table>
                                
                            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>


<!-- ============================================================= -->

<section id="code">
   <h2 class="page-header"></h2>
   <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa  fa-code"></i> Code Analysis</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
             <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>ISSUE</th>
                                                <th>SEVERITY</th>
                                                <th>CVSS</th>
                                                <th>CWE</th>
                                                <th>OWASP</th>
                                                <th>FILES</th>
                                                
                                            </tr>
                    </thead>
                    <tbody>
               {% for issue, details in findings.items %}
                  <tr>
                  <td>
                  {{ issue }}
                  </td>
                  <td>
                    {% if details|key:"level" == "high" %}
                      <span class="label label-danger">high</span>
                      {% elif details|key:"level" == "good" %}
                      <span class="label label-success">secure</span>
                      {% elif details|key:"level" == "warning" %}
                      <span class="label label-warning">warning</span>
                      {% elif details|key:"level" == "info" %}
                      <span class="label label-info">info</span>
                      {% endif %}
                  </td>
                  <td><b>{{ details|key:"cvss" }}</b></td>
                  <td><b>{{ details|key:"cwe" }}</b></td>
                   <td><b>{{ details|key:"owasp" }}</b></td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&amp;md5={{ md5 }}&amp;type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>    
              {% endfor %} 
         
                    </tbody>
                    </table>
                                
                            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>


<!-- ============================================================= -->

<section id="file">
  <h2 class="page-header"></h2>
    <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-file-text-o"></i> File Analysis</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
            <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                              <thead>
                                            <tr>
                                                <th>ISSUE</th>
                                                <th>FILES</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                
                  {{ certz | safe}} 
                    </tbody>
                    </table>
                                
                            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>


<!-- ============================================================= -->


<section id="apkid">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa fa-bug"></i> APKiD Analysis</h3>
            </div>
          <div class="box-body no-padding">
             <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                  <thead>
                      <tr>
                          <th>FILE</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% if apkid %}
                       {% for file, details in apkid.items %}
                       <tr>
                         <td>
                             {{file}}
                        </td>
                        <td>
                            <table class="table table-bordered table-hover table-striped">
                              <thead>
                                  <tr>
                                      <th>FINDINGS</th>
                                      <th>DETAILS</th>
                                  </tr>
                              </thead>
                            <tbody>
                            {% for detail, idens in details.items %}
                            <tr>
                              <td>
                               {% if detail == "anti_vm" %}
                               <span class="label label-warning">Anti-VM Code</span>
                               {% elif detail == "anti_disassembly" %}
                               <span class="label label-warning">Anti Disassembly Code</span>
                               {% elif detail == "anti_debug" %}
                               <span class="label label-warning">Anti Debug Code</span>
                               {% elif detail == "compiler" %}
                               <span class="label label-info">Compiler</span>
                               {% elif detail == "abnormal" %}
                               <span class="label label-warning">Abnormal Code</span>
                               {% elif detail == "obfuscator" %}
                               <span class="label label-warning">Obfuscator</span>
                               {% elif detail == "protector" %}
                               <span class="label label-info">Protector</span>
                               {% elif detail == "packer" %}
                               <span class="label label-danger">Packer Found</span>
                               {% elif detail == "dropper" %}
                               <span class="label label-danger">Dropper Found</span>
                               {% elif detail == "manipulator" %}
                               <span class="label label-warning">Manipulator Found</span>
                               {% else %}
                               <span class="label label-info">{{detail}}</span>
                               {% endif %}
                            </td>
                              <td> {% for idn in idens %} {{ idn }}</br> {% endfor %}</td>
                            </tr>
                            {% endfor %}
                           </tbody>
                            </table>
                        </td>
                 
                        </tr>
                         {% endfor %}
                      {% else %}
                      <p align="center"><strong>APKiD not enabled.</strong></p>
                      {% endif %}
                    </tbody>
                    </table>
                  </div>
       
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>

<!-- ============================================================= -->

{% if VT_RESULT %}
    <section id="virus_total">
      <h2 class="page-header"></h2>
      <!-- /.box -->

              <div class="box">
              <div class="box-header">
                 <!-- /.box-header -->
                  <h3 class="box-title"><i class="fa fa-bug"></i> VirusTotal Report</h3>
              </div>
              <div class="box-body no-padding">
                 <div class="table-responsive">
                 {% if VT_RESULT.items|length < 9 %} {% comment %} Basic check to determine if the response is a msg or a result {% endcomment %}
                    <p align="left">&nbsp;&nbsp;<strong>{{ VT_RESULT.verbose_msg }}</strong></p>
                 {% else %}
                    <p align="left">&nbsp;&nbsp;<strong> {{ VT_RESULT.positives }} / {{ VT_RESULT.total }}&nbsp; AVs found this file Malicious! </strong> &nbsp;&nbsp;<a href="{{ VT_RESULT.permalink }}" target="_blank" rel="noopener"><i class="glyphicon glyphicon-list-alt"></i> Full Report</a></p>
                    {% if VT_RESULT.positives > 0 %}
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>AV</th>
                                    <th>Detection</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for av_name,av_result in VT_RESULT.scans.items %}
                                {% if av_result.detected == True %}
                                   <tr>
                                        <td>
                                            {{ av_name }}
                                        </td>
                                       <td>
                                            <span class="label label-danger">{{ av_result.result }}</span>
                                        </td>
                                  </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}{% comment %} if results.positive > 0 {% endcomment %}
                     {% endif %}{% comment %} if this is the upload msg or a result {% endcomment %}
                 </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
    </section>
{% endif %}
<!-- ============================================================= -->


<section id="domain">
  <h2 class="page-header"></h2>
       <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="glyphicon glyphicon-screenshot"></i> Malware Check</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                  {% if urls %} 
                  <thead>
                  <tr>
                     <th>Domain</th>
                     <th>Status</th>
                  </tr>
                 </thead>
                  {% endif %}
                 <tbody>
                
                  {% for domain, details in domains.items %}
                  <tr><td>{{domain}}</td><td> 

                    {% if details|key:"bad" == "yes" %}
                    <span class="label label-danger">malware</span></br>
<pre>
<strong>URL: </strong>{{details|key:"domain_or_url"}}
<strong>IP: </strong><span class="label label-danger">{{details|key:"ip"}}</span>
<strong>Description: </strong>{{details|key:"desc"}}
</pre>
                  {% else %}
                    <span class="label label-success">good</span></br>
                  {% endif %}


                  </td> </tr>
                  {% endfor %}
                   
                    </tbody>
                    </table>
                                
             </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
  </section>


<!-- ============================================================= -->


<section id="url">
  <h2 class="page-header"></h2>
       <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="glyphicon glyphicon-globe"></i> URLs</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                  {% if urls %} 
                  <thead>
                  <tr>
                     <th>URL</th>
                     <th>File</th>
                  </tr>
                 </thead>
                  {% endif %}
                 <tbody>
                
                
                  {% for urldict in urls %}
                    <tr>
                       <td>
                       {% for u in urldict|key:"urls" %}
                         {{ u }} </br>
                       {% endfor %}
                        </td>

                       <td>
                          <a href="../ViewSource/?file={{urldict|key:"path"}}&md5={{ md5}}&type=apk">{{urldict|key:"path"}}</a>
                          
                       </td>
                    </tr>
                  {% endfor %} 
                    </tbody>
                     
                    </table>
                                
                            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
  </section>


<!-- ============================================================= -->


<section id="firebase">
  <h2 class="page-header"></h2>
       <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-database"></i> Firebase Databases</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                  {% if firebase %} 
                  <thead>
                  <tr>
                     <th>Database URL</th>
                     <th>Details</th>
                  </tr>
                 </thead>
                  {% endif %}
                 <tbody>
                
                
                  {% for item in firebase %}
                    <tr>
                       <td>
                       {{ item.url }}
                        </td>

                       <td>
                         {% if item.open %}
                          <span class="label label-danger">insecure</span></br>Firebase DB is exposed publically.
                        {% else %}
                         <span class="label label-primary">Info</span></br>App talks to a Firebase Database.
                         {% endif %}
                      
                       </td>
                    </tr>
                  {% endfor %} 
                    </tbody>
                     
                    </table>
                                
                            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
  </section>


<!-- ============================================================= -->

<section id="email">
  <h2 class="page-header"></h2>
     <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="glyphicon glyphicon-envelope"></i> Emails</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                 {% if emails %} 
                  <thead>
                  <tr>
                     <th>Email</th>
                     <th>File</th>
                  </tr>
                 </thead>
                 {% endif %}
                 <tbody>
                
                 {% for email_dict in emails %}
                    <tr>
                       <td>
                       {% for e in email_dict|key:"emails" %}
                         {{ e }} </br>
                       {% endfor %}
                        </td>

                       <td>
                          <a href="../ViewSource/?file={{email_dict|key:"path"}}&md5={{ md5}}&type=apk">{{email_dict|key:"path"}}</a>
                          
                       </td>
                    </tr>
                  {% endfor %} 
                    </tbody>
                    </table>
                                
                            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>


<!-- ============================================================= -->

<section id="trackers">
  <h2 class="page-header"></h2>
  <!-- /.box -->

  <div class="box">
    <div class="box-header">
      <h3 class="box-title"><i class="glyphicon glyphicon-eye-open"></i> Trackers</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          {% if trackers %}
          <thead>
            <tr>
              <th>Tracker Name</th>
              <th>URL</th>
            </tr>
          </thead>
          {% endif %}
          <tbody>

            {% for trk in trackers|key:"trackers" %}
            <tr>
              {% for k, v in trk.items %}
              <td>
                {{k}}
              </td>
              <td>
                <a target="_blank" href="{{v}}">{{v}}</a>
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</section>


<!-- ============================================================= -->
<section id="string">
  <h2 class="page-header"></h2>
       <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="glyphicon glyphicon-sort-by-alphabet-alt"></i> Strings</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
          <div class="list-group">
                  <p>  
                  
                    {% for val in strings %}
                      
                     {{ val }}<br>
                    
                    {% endfor %}                  
                                
                  
                  </p>
                                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>
<!-- ============================================================= -->

<section id="activities">
  <h2 class="page-header"></h2>
   <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-language"></i> Activities</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <div class="list-group">
                  <p>  
                {% for act in activities %}
                  {{ act}} <br>
                {% endfor %}                  
                  
                  </p>
                  </div>    
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>


<!-- ============================================================= -->

<section id="services">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-gears"></i> Services</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
          <div class="list-group">
                  <p>  
                {% for srv in services %}
                  {{ srv}} <br>
                {% endfor %}                  
                  
                  </p>
                                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>

<!-- ============================================================= -->

<section id="receivers">
  <h2 class="page-header"></h2>
 <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-sort-amount-desc"></i> Broadcast Receivers</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <div class="list-group">
                  <p>  
                {% for rcv in receivers %}
                  {{ rcv}} <br>
                {% endfor %}                  
                  
                  </p>
                                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>

<!-- ============================================================= -->

<section id="providers">
  <h2 class="page-header"></h2>

   <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-database"></i> Content Providers</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
           <div class="list-group">
                  <p>  
                {% for prv in providers %}
                  {{ prv}} <br>
                {% endfor %}                  
                  
                  </p>
                                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>

<!-- ============================================================= -->

<section id="libraries">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="glyphicon glyphicon-chevron-down"></i> Libraries</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <div class="list-group">
                  <p>  
                {% for lib in libraries %}
                  {{ lib }} <br>
                {% endfor %}                  
                  
                  </p>
                                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>

<section id="files">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-files-o"></i> Files</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
           <div class="list-group">
                  <p>  
                {% for file in files %}
                  {{ file}} <br>
                {% endfor %}                  
                  
                  </p>
                                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>
        </div><!-- /.content -->
      </div><!-- /.content-wrapper -->

       
{% endblock %}
