
  {% extends "base.html" %}
   {% block content %}
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <div class="sidebar" id="scrollspy">

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="nav sidebar-menu">
            <li class="header">Static Analysis</li>
            <li class="active"><a href="#information"><i class="glyphicon glyphicon-info-sign"></i> Information</a></li>
            <li><a href="#options"><i class="fa fa-gears"></i> Options</a></li>
            <li><a href="#permissions"><i class="fa fa-align-justify"></i> Permissons</a></li>
            <li><a href="#insecure_connections"><i class="glyphicon glyphicon-eye-open"></i> Transport Security</a></li>
            {% if VT_RESULT %}
                <li><a href="#virus_total"><i class="fa fa-bug"></i>Virus Total</a></li>
            {% endif %}
            <li><a href="#binary"><i class="fa fa-mobile"></i> Binary Analysis</a></li>
            <li><a href="#file"><i class="fa fa-file-text-o"></i> File Analysis</a></li>
            <li><a href="#libraries"><i class="glyphicon glyphicon-chevron-down"></i> Libraries</a></li>
            <li><a href="#files"><i class="fa fa-files-o"></i> Files</a></li>
            <li><a target="_blank" href="../PDF/?md5={{ md5 }}&amp;type=IPA"><i class="glyphicon glyphicon-list-alt"></i> Download Report</a></li>
          </ul>
        </div>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->



<!-- Modal -->

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Info.plist</h4>
              </div>
              <div class="modal-body">
          <pre><code>
           {{ plist }}
          </code></pre>
              </div>

            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="modal fade" id="myModalStrings" tabindex="-1" role="dialog" aria-labelledby="myModalLabelStrings">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Strings</h4>
              </div>
              <div class="modal-body">
          <pre><code>
           {% for string in strings %}
           {{string | safe}}
           {% endfor %}
          </code></pre>
              </div>

            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->





        <!-- Main content -->
        <div class="content body">

<section id="information">
  <h2 class="page-header"></h2>
  <p class="lead">
      <div class="row">
    <div class="col-sm-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">File Information</h3>
          <span class="label label-primary pull-right"><i class="glyphicon glyphicon-file"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
           <div class="list-group">
                  <p>
                      <span class="label label-primary">Name</span>
                      {{ name }}
                  </p>
                  <p>
                      <span class="label label-primary">Size</span>
                      {{ size }}
                  </p>
                  <p>
                      <span class="label label-primary">MD5</span>
                      {{ md5 }}
                  </p>
                  <p>
                     <span class="label label-primary">SHA1</span>
                      {{ sha1 }}
                  </p>
                  <p>
                     <span class="label label-primary">SHA256</span>
                    {{ sha256 }}
                </p>
             </div>

        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-sm-5">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">App Information</h3>
          <span class="label label-danger pull-right"><i class="glyphicon glyphicon-info-sign"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
        <div class="list-group">
               <p>
              <span class="label label-primary">App Name</span>
              {{ bin_name }}
              </p>
               <p>
              <span class="label label-primary">Identifier</span>
              {{ id }}
                <span class="label label-primary">SDK Name</span>
              {{ sdk }}


              </p>
                <p>
             <span class="label label-primary">Version</span>
              {{ ver }}
               </p>
               <p>
              <span class="label label-primary">Platform Version</span>
              {{ pltfm }}
            </p>
            <p>
             <span class="label label-primary">Min OS Version</span>
              {{ min }}
            </p>
       </div>

        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->
  </p>
</section><!-- /#introduction -->


<!-- ============================================================= -->

<section id="options">
  <h2 class="page-header"></h2>
      <!-- Small boxes (Stat box) -->


  <div class="row">

    <div class="col-sm-12">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Options</h3>
          <span class="label label-danger pull-right"><i class="fa fa-flash"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
         <div align="center">
      <a data-target="#myModal" role="button" class="btn btn-info" data-toggle="modal"><i class="fa fa-list"></i> View Info.plist</a>
      <a data-target="#myModalStrings" role="button" class="btn btn-info" data-toggle="modal"><i class="fa fa-list"></i> View Strings</a>
      <a target="_blank" href="../ViewFile/?file=classdump.txt&type=txt&md5={{ md5 }}&mode=ios" class="btn btn-warning" role="button"><i class="fa fa-code"></i> View Class Dump</a>
      <a href="../StaticAnalyzer_iOS/?checksum={{ md5 }}&amp;name={{ name }}&amp;type=ipa&amp;rescan=1" class="btn btn-info" role="button"><i class="glyphicon glyphicon-refresh"></i> Rescan</a>
</div>

               </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->

</section>


<!-- ============================================================= -->


<section id="permissions">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa fa-file-text-o"></i> Permissions</h3>
            </div>

              {% if permissions|length > 0 %}
              <div class="box-body no-padding">
              <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">

                  <thead>
                      <tr>
                          <th>Permissions</th>
                          <th>Description</th>
                          <th>Reason in Manifest</th>
                      </tr>
                  </thead>
                  <tbody>
                    {%for perm in permissions%}
                    <tr>
                      <td>
                        {{ perm.0 | safe}}
                      </td>
                      <td>
                        {{ perm.1 | safe}}
                      </td>
                      <td>
                        {{ perm.2 | safe}}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
              </div>
              {% else %}
              <div class="box-body">
             <div class="list-group">
                    <p>
                No permissions required.
              </p>
            </div>
          </div>
              {% endif %}

            <!-- /.box-body -->
          </div>
</section>


<!-- ============================================================= -->

<section id="insecure_connections">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="glyphicon glyphicon-eye-open"></i> App Transport Security (ATS)</h3>
            </div>

              <div class="box-body no-padding">
              <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">

                  <thead>
                      <tr>
                        <th>ISSUE</th>
                        <th>STATUS</th>
                        <th>DESCRIPTION</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% if insecure_connections|length > 0 %}
                      {%for con in insecure_connections%}
                      <tr>
                        <td>
                          Exception in NSAppTransportSecurity found.
                        <td>
                          <span class="label label-danger">Insecure</span>
                        </td>
                        <td>
                          App Transport Security (ATS) is disabled on the domain '{{ con }}'. Disabling ATS can allow insecure communication with particular servers or allow insecure loads for web views or for media, while maintaining ATS protections elsewhere in your app.
                        </td>
                      </tr>
                      {% endfor %}
                    {% else %}
                    <tr>
                      <td>
                        None
                      <td>
                        <span class="label label-success">Secure</span>
                      </td>
                      <td>
                        No insecure connections configured. App Transport Security (ATS) is enabled.
                      </td>
                    </tr>
                    {% endif %}
                  </tbody>
              </table>
              </div>
            <!-- /.box-body -->
          </div>
</section>


<!-- ============================================================= -->


<section id="binary">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa fa-mobile"></i> Binary Analysis</h3>
            </div>
           <div class="box-body no-padding">
              <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                  <thead>
                      <tr>
                          <th>ISSUE</th>
                          <th>STATUS</th>
                          <th>DESCRIPTION</th>

                      </tr>
                  </thead>
                  <tbody>
                    {{ bin_anal | safe}}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>



<!-- ============================================================= -->
{% if VT_RESULT %}
    <section id="virus_total">
      <h2 class="page-header"></h2>
      <!-- /.box -->

              <div class="box">
              <div class="box-header">
                 <!-- /.box-header -->
                  <h3 class="box-title"><i class="fa fa-bug"></i> VirusTotal Report</h3>
              </div>
              <div class="box-body no-padding">
                 <div class="table-responsive">
                 {% if VT_RESULT.items|length < 9 %} {% comment %} Basic check to determine if the response is a msg or a result {% endcomment %}
                    <p align="left">&nbsp;&nbsp;<strong>{{ VT_RESULT.verbose_msg }}</strong></p>
                 {% else %}
                    <p align="left">&nbsp;&nbsp;<strong> {{ VT_RESULT.positives }} / {{ VT_RESULT.total }}&nbsp; AVs found this file Malicious! </strong> &nbsp;&nbsp;<a href="{{ VT_RESULT.permalink }}" target="_blank" rel="noopener"><i class="glyphicon glyphicon-list-alt"></i> Full Report</a></p>
                    {% if VT_RESULT.positives > 0 %}
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>AV</th>
                                    <th>Detection</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for av_name,av_result in VT_RESULT.scans.items %}
                                {% if av_result.detected == True %}
                                   <tr>
                                        <td>
                                            {{ av_name }}
                                        </td>
                                       <td>
                                            <span class="label label-danger">{{ av_result.result }}</span>
                                        </td>
                                  </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}{% comment %} if results.positive > 0 {% endcomment %}
                     {% endif %}{% comment %} if this is the upload msg or a result {% endcomment %}
                 </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
    </section>
{% endif %}

<section id="file">
  <h2 class="page-header"></h2>
    <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-file-text-o"></i> File Analysis</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
            <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
              <thead>
                  <tr>
                      <th>ISSUE</th>
                      <th>FILES</th>
                  </tr>
              </thead>
              <tbody>
              {{ file_analysis | safe}}
              </tbody>
              </table>

                            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>



<!-- ============================================================= -->

<section id="libraries">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="glyphicon glyphicon-chevron-down"></i> Libraries</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <div class="list-group">


                  <p>
                  {{ libs|safe }}
                  </p>

                                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>

<section id="files">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-files-o"></i> Files</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
           <div class="list-group">
                  <p>
                {% for file in files %}
                  {{ file}} <br>
                {% endfor %}

                  </p>
                                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>
        </div><!-- /.content -->
      </div><!-- /.content-wrapper -->


{% endblock %}
