
  {% extends "base.html" %}
   {% block content %}
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <div class="sidebar" id="scrollspy">

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="nav sidebar-menu">
              <li class="header">Static Analysis</li>
            <li class="active"><a href="#information"><i class="glyphicon glyphicon-info-sign"></i> Information</a></li>
            <li><a href="#options"><i class="fa fa-gears"></i> Options</a></li>
            <li><a href="#permissions"><i class="fa fa-align-justify"></i> Permissons</a></li>
            <li><a href="#insecure_connections"><i class="glyphicon glyphicon-eye-open"></i> Transport Security</a></li>
            <li><a href="#ios-api"><i class="fa fa-dot-circle-o"></i> iOS API</a></li>
            <li><a href="#code"><i class="fa fa-code"></i> Code Analysis</a></li>
            <li><a href="#file"><i class="fa fa-file-text-o"></i> File Analysis</a></li>
             <li class="treeview">
              <a href="javascript::;"><i class="fa fa-plus"></i> Reconnaissance</a>
              <ul class="nav treeview-menu">
                <li><a href="#url"><i class="glyphicon glyphicon-globe"></i> URLs</a></li>
                <li><a href="#domain"><i class="glyphicon glyphicon-screenshot"></i> Malware Check</a></li>
                <li><a href="#email"><i class="glyphicon glyphicon-envelope"></i> Emails</a></li>
              </ul>
            </li>
            <li><a href="#libraries"><i class="glyphicon glyphicon-chevron-down"></i> Libraries</a></li>
            <li><a href="#files"><i class="fa fa-files-o"></i> Files</a></li>
            <li><a target="_blank" href="../PDF/?md5={{ md5 }}&amp;type=IOSZIP"><i class="glyphicon glyphicon-list-alt"></i> Download Report</a></li>
          </ul>
        </div>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->

<!-- Modal -->

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Info.plist</h4>
              </div>
              <div class="modal-body">
          <pre><code>
           {{ plist }}
          </code></pre>
              </div>

            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->


        <!-- Main content -->
        <div class="content body">

<section id="information">
  <h2 class="page-header"></h2>
  <p class="lead">
      <div class="row">
    <div class="col-sm-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">File Information</h3>
          <span class="label label-primary pull-right"><i class="glyphicon glyphicon-file"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
           <div class="list-group">
                  <p>
                      <span class="label label-primary">Name</span>
                      {{ name }}
                  </p>
                  <p>
                      <span class="label label-primary">Size</span>
                      {{ size }}
                  </p>
                  <p>
                      <span class="label label-primary">MD5</span>
                      {{ md5 }}
                  </p>
                  <p>
                     <span class="label label-primary">SHA1</span>
                      {{ sha1 }}
                  </p>
                  <p>
                     <span class="label label-primary">SHA256</span>
                    {{ sha256 }}
                </p>
             </div>

        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-sm-5">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">App Information</h3>
          <span class="label label-danger pull-right"><i class="glyphicon glyphicon-info-sign"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
        <div class="list-group">
               <p>
              <span class="label label-primary">App Name</span>
              {{ bin_name }}
              </p>
               <p>
              <span class="label label-primary">Identifier</span>
              {{ id }}
                <span class="label label-primary">SDK Name</span>
              {{ sdk }}


              </p>
                <p>
             <span class="label label-primary">Version</span>
              {{ ver }}
               </p>
               <p>
              <span class="label label-primary">Platform Version</span>
              {{ pltfm }}
            </p>
            <p>
             <span class="label label-primary">Min OS Version</span>
              {{ min }}
            </p>
       </div>

        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->
  </p>
</section><!-- /#introduction -->


<!-- ============================================================= -->

<section id="options">
  <h2 class="page-header"></h2>
      <!-- Small boxes (Stat box) -->


  <div class="row">

    <div class="col-sm-12">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Options</h3>
          <span class="label label-danger pull-right"><i class="fa fa-flash"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
         <div align="center">
      <a data-target="#myModal" role="button" class="btn btn-info" data-toggle="modal"><i class="fa fa-list"></i> View Info.plist</a>
      <a href="../StaticAnalyzer_iOS/?checksum={{ md5 }}&amp;name={{ name }}&amp;type=ios&amp;rescan=1" class="btn btn-info" role="button"><i class="glyphicon glyphicon-refresh"></i> Rescan</a>
</div>

               </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->

</section>


<!-- ============================================================= -->


<section id="permissions">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa fa-file-text-o"></i> Permissions</h3>
            </div>

              {% if permissions|length > 0 %}
              <div class="box-body no-padding">
              <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">

                  <thead>
                      <tr>
                          <th>Permissions</th>
                          <th>Description</th>
                          <th>Reason in Manifest</th>
                      </tr>
                  </thead>
                  <tbody>
                    {%for perm in permissions%}
                    <tr>
                      <td>
                        {{ perm.0 | safe}}
                      </td>
                      <td>
                        {{ perm.1 | safe}}
                      </td>
                      <td>
                        {{ perm.2 | safe}}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
              </div>
              {% else %}
              <div class="box-body">
             <div class="list-group">
                    <p>
                No permissions required.
              </p>
            </div>
          </div>
              {% endif %}

            <!-- /.box-body -->
          </div>
</section>


<!-- ============================================================= -->

<section id="insecure_connections">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="glyphicon glyphicon-eye-open"></i> App Transport Security (ATS)</h3>
            </div>

              <div class="box-body no-padding">
              <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">

                  <thead>
                      <tr>
                        <th>ISSUE</th>
                        <th>STATUS</th>
                        <th>DESCRIPTION</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% if insecure_connections|length > 0 %}
                      {%for con in insecure_connections%}
                      <tr>
                        <td>
                          Exception in NSAppTransportSecurity found.
                        <td>
                          <span class="label label-danger">Insecure</span>
                        </td>
                        <td>
                        App Transport Security (ATS) is disabled on the domain '{{ con }}'.
                        Disabling ATS can allow insecure communication with particular servers or allow insecure loads for web views or for media, while maintaining ATS protections elsewhere in your app.
                        </td>
                      </tr>
                      {% endfor %}
                    {% else %}
                    <tr>
                      <td>
                        None
                      <td>
                        <span class="label label-success">Secure</span>
                      </td>
                      <td>
                        No insecure connections configured. App Transport Security (ATS) is enabled.
                      </td>
                    </tr>
                    {% endif %}
                  </tbody>
              </table>
              </div>
            <!-- /.box-body -->
          </div>
</section>


<!-- ============================================================= -->

<section id="ios-api">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i> iOS API</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                     {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewFile/?file={{ path }}&md5={{ md5 }}&type=m&mode=ios"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>    
              {% endfor %} 
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>


<!-- ============================================================= -->

<section id="code">
   <h2 class="page-header"></h2>
   <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa  fa-code"></i> Code Analysis</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
             <div class="table-responsive">
                                      <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>ISSUE</th>
                                                <th>STATUS</th>
                                                <th>DESCRIPTION</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                     {% for issue, details in insecure.items %}
                  <tr>
                  <td>
                  {{ issue }}
                  </td>
                  <td>
                    {% if details|key:"level" == "high" %}
                      <span class="label label-danger">high</span>
                      {% elif details|key:"level" == "good" %}
                      <span class="label label-success">secure</span>
                      {% elif details|key:"level" == "warning" %}
                      <span class="label label-warning">warning</span>
                      {% elif details|key:"level" == "info" %}
                      <span class="label label-info">info</span>
                      {% endif %}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewFile/?file={{ path }}&md5={{ md5 }}&type=m&mode=ios"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>    
              {% endfor %} 
                    </tbody>
                    </table>

                            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>


<!-- ============================================================= -->

<section id="file">
  <h2 class="page-header"></h2>
    <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-file-text-o"></i> File Analysis</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
            <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>ISSUE</th>
                                                <th>FILES</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                    {{ file_analysis | safe}}
                    </tbody>
                    </table>
                            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>


<!-- ============================================================= -->

<section id="url">
  <h2 class="page-header"></h2>
       <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="glyphicon glyphicon-globe"></i> URLs</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
              {% if urls %} 
                  <thead>
                  <tr>
                     <th>URL</th>
                     <th>File</th>
                  </tr>
                 </thead>
                  {% endif %}
                 <tbody>
                
                
                  {% for urldict in urls %}
                    <tr>
                       <td>
                       {% for u in urldict|key:"urls" %}
                         {{ u }}
                       {% endfor %}
                        </td>

                       <td>
                          <a href="../ViewFile/?file={{urldict|key:"path"}}&md5={{ md5}}&type=m&mode=ios">{{urldict|key:"path"}}</a>
                          
                       </td>
                    </tr>
                  {% endfor %} 
                    </tbody>
                    </table>

                            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
  </section>


<!-- ============================================================= -->

<section id="domain">
  <h2 class="page-header"></h2>
       <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="glyphicon glyphicon-screenshot"></i> Malware Check</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                  {% if urls %}
                  <thead>
                  <tr>
                     <th>Domain</th>
                     <th>Status</th>
                  </tr>
                 </thead>
                  {% endif %}
                 <tbody>

                  {% for domain, details in domains.items %}
                  <tr><td>{{domain}}</td><td>

                    {% if details|key:"bad" == "yes" %}
                    <span class="label label-danger">malware</span></br>
<pre>
<strong>URL: </strong>{{details|key:"domain_or_url"}}
<strong>IP: </strong><span class="label label-danger">{{details|key:"ip"}}</span>
<strong>Description: </strong>{{details|key:"desc"}}
</pre>
                  {% else %}
                    <span class="label label-success">good</span></br>
                  {% endif %}


                  </td> </tr>
                  {% endfor %}

                    </tbody>
                    </table>

             </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
  </section>


<!-- ============================================================= -->
<section id="email">
  <h2 class="page-header"></h2>
     <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="glyphicon glyphicon-envelope"></i> Emails</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
               {% if emails %} 
                  <thead>
                  <tr>
                     <th>Email</th>
                     <th>File</th>
                  </tr>
                 </thead>
                 {% endif %}
                 <tbody>
                                        <tbody>
                
                 {% for email_dict in emails %}
                    <tr>
                       <td>
                       {% for e in email_dict|key:"emails" %}
                         {{ e }}
                       {% endfor %}
                        </td>

                       <td>
                          <a href="../ViewFile/?file={{email_dict|key:"path"}}&md5={{ md5}}&type=m&mode=ios">{{email_dict|key:"path"}}</a>   
                       </td>
                    </tr>
                  {% endfor %} 
                    </tbody>
                    </table>
                 </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>



<!-- ============================================================= -->

<section id="libraries">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="glyphicon glyphicon-chevron-down"></i> Libraries</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <div class="list-group">
             <p>
             {{ libs|safe }}
             </p>
            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>

<section id="files">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-files-o"></i> Files</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
           <div class="list-group">
                  <p>
                {% for file in files %}
                  {{ file}} <br>
                {% endfor %}

                  </p>
                                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>
        </div><!-- /.content -->
      </div><!-- /.content-wrapper -->


{% endblock %}
