
  {% extends "base.html" %}
   {% block content %}
      <style type="text/css" media="print">
       #mobsf_header{
        visibility: hidden;
      }
      @page { size: landscape; }
      @media print {
        .btn, #scan_opts  {
          display: none;
        }
         #mobsf_header {
          visibility: visible;
        }
      }
    </style>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <div class="sidebar" id="scrollspy">

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="nav sidebar-menu">
              <li class="header">Static Analysis</li>
            <li class="active"><a href="#information"><i class="glyphicon glyphicon-info-sign"></i> Information</a></li>
            <li><a href="#options"><i class="fa fa-gears"></i> Options</a></li>
            <li><a href="#permissions"><i class="fa fa-align-justify"></i> Permissons</a></li>
            <li><a href="#insecure_connections"><i class="glyphicon glyphicon-eye-open"></i> Transport Security</a></li>
            <li><a href="#ios-api"><i class="fa fa-dot-circle-o"></i> iOS API</a></li>
            <li><a href="#code"><i class="fa fa-code"></i> Code Analysis</a></li>
            <li><a href="#file"><i class="fa fa-file-text-o"></i> File Analysis</a></li>
             <li class="treeview">
              <a href="javascript::;"><i class="fa fa-plus"></i> Reconnaissance</a>
              <ul class="nav treeview-menu">
                <li><a href="#url"><i class="glyphicon glyphicon-globe"></i> URLs</a></li>
                <li><a href="#firebase"><i class="fa fa-database"></i> Firebase DB</a></li>
                <li><a href="#domain"><i class="glyphicon glyphicon-screenshot"></i> Malware Check</a></li>
                <li><a href="#email"><i class="glyphicon glyphicon-envelope"></i> Emails</a></li>
              </ul>
            </li>
            <li><a href="#libraries"><i class="glyphicon glyphicon-chevron-down"></i> Libraries</a></li>
            <li><a href="#files"><i class="fa fa-files-o"></i> Files</a></li>
            <li><a target="_blank" href="../PDF/?md5={{ md5 }}&amp;type=IOSZIP"><i class="glyphicon glyphicon-list-alt"></i> PDF Report</a></li>
            <li><a href="javascript:window.print()"><i class="fa fa-print"></i> Print Report</a></li>

          </ul>
        </div>
        <!-- /.sidebar -->
      </aside>
        <div id="mobsf_header" align="center">
          <h4>MobSF Static Analysis Report - {%if bin_name %} {{ bin_name }}  {% else %} {{ file_name }} {% endif %}</h4>
        </div>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->

<!-- Modal -->

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Info.plist</h4>
              </div>
              <div class="modal-body">
          <pre><code>
           {{ plist }}
          </code></pre>
              </div>

            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->


        <!-- Main content -->
        <div class="content body">

<section id="information">
  <h2 class="page-header"></h2>
  <p class="lead">
      <div class="row">
         
      <div class="col-sm-3">
       <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">App Score</h3>
          <span class="label label-danger pull-right"><i class="glyphicon glyphicon-collapse-up"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body danger">
          <span class="label label-danger">Average CVSS</span> <b>{{ average_cvss }} </b></br>
          <span class="label label-danger">Security Score</span> <b>{{ security_score }}/100</b>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
        </div>

    <div class="col-sm-5">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">File Information</h3>
          <span class="label label-primary pull-right"><i class="glyphicon glyphicon-file"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
           <div class="list-group">
                  <p>
                      <span class="label label-primary">Name</span>
                      {{ file_name }}
                  </p>
                  <p>
                      <span class="label label-primary">Size</span>
                      {{ size }}
                  </p>
                  <p>
                      <span class="label label-primary">MD5</span>
                      {{ md5 }}
                  </p>
                  <p>
                     <span class="label label-primary">SHA1</span>
                      {{ sha1 }}
                  </p>
                  <p>
                     <span class="label label-primary">SHA256</span>
                    {{ sha256 }}
                </p>
             </div>

        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-sm-4">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">App Information</h3>
          <span class="label label-warning pull-right"><i class="glyphicon glyphicon-info-sign"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
        <div class="list-group">
               <p>
              <span class="label label-warning">App Name</span>
              {{ bin_name }}
              </p>
               <p>
              <span class="label label-warning">Identifier</span>
              {{ id }}
                <span class="label label-warning">SDK Name</span>
              {{ sdk }}


              </p>
                <p>
             <span class="label label-warning">Version</span>
              {{ version }}
               </p>
               <p>
              <span class="label label-warning">Platform Version</span>
              {{ pltfm }}
            </p>
            <p>
             <span class="label label-warning">Min OS Version</span>
              {{ min }}
            </p>
       </div>

        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->


     <div class="col-sm-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">App Store Information</h3>
          <span class="label label-info pull-right"><i class="glyphicon glyphicon-th-large"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
           <div class="list-group">
            {% if not appstore_details.error %}

          <p>
            <img id="app_icon" src="{{ appstore_details.icon }}">
          </p>

                  <p>                                       
                    <span class="label label-info">Title</span>
                    {{ appstore_details.title }}
                  </p>
                  <p>                                       
                    <span class="label label-info">Score</span>
                  {{ appstore_details.score}}

                   <span class="label label-info">Features</span>
                    {% for fea in appstore_details.features %}
                    {{ fea }}, 
                    {% endfor %}

                   <span class="label label-info">Price</span>
                      {{ appstore_details.price }}
                    <span class="label label-info">Category</span>
                    {% for cat in appstore_details.category %}
                    {{ cat }}, 
                    {% endfor %}

                    <span class="label label-info">App Store URL</span>
                      <a target="_blank" href="{{ appstore_details.itunes_url }}"> {{ appstore_details.app_id }} </a>
                  </p>
                  
                  <p>
                  <span class="label label-info">Developer</span>
                      {{appstore_details.developer}}
                   <span class="label label-info">Developer ID</span>
                    {{appstore_details.developer_id}} 
                  </p>
                  <p>
                    <span class="label label-info">Developer Website</span>
                      {{appstore_details.developer_website }}
                    <span class="label label-info">Developer URL</span>
                      {{appstore_details.developer_url}}, 
                  </p>
                  <p>
                     <span class="label label-info">Support Devices</span>
                    {% for dev in appstore_details.supported_devices %}
                    {{ dev }}, 
                    {% endfor %}
                  </p>
                 <p>                                       
                      <span class="label label-info">Description</span>
                      <pre>{{ appstore_details.description }}</pre>
                  </p>
              {%  endif  %}
             </div>
        
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->

  </div><!-- /.row -->
  </p>
</section><!-- /#introduction -->


<!-- ============================================================= -->

<section id="options">
  <h2 class="page-header"></h2>
      <!-- Small boxes (Stat box) -->


  <div class="row">

    <div class="col-sm-12">
      <div class="box box-info" id="scan_opts">
        <div class="box-header with-border">
          <h3 class="box-title">Options</h3>
          <span class="label label-info pull-right"><i class="fa fa-flash"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
         <div align="center">
      <a data-target="#myModal" role="button" class="btn btn-info" data-toggle="modal"><i class="fa fa-list"></i> View Info.plist</a>
      <a href="../StaticAnalyzer_iOS/?checksum={{ md5 }}&amp;name={{ file_name }}&amp;type=ios&amp;rescan=1" class="btn btn-info" role="button"><i class="glyphicon glyphicon-refresh"></i> Rescan</a>
</div>

               </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->

</section>


<!-- ============================================================= -->


<section id="permissions">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa fa-file-text-o"></i> Permissions</h3>
            </div>

              {% if permissions|length > 0 %}
              <div class="box-body no-padding">
              <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">

                  <thead>
                      <tr>
                          <th>Permissions</th>
                          <th>Description</th>
                          <th>Reason in Manifest</th>
                      </tr>
                  </thead>
                  <tbody>
                    {%for perm in permissions%}
                    <tr>
                      <td>
                        {{ perm.0 | safe}}
                      </td>
                      <td>
                        {{ perm.1 | safe}}
                      </td>
                      <td>
                        {{ perm.2 | safe}}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
              </div>
              {% else %}
              <div class="box-body">
             <div class="list-group">
                    <p>
                No permissions required.
              </p>
            </div>
          </div>
              {% endif %}

            <!-- /.box-body -->
          </div>
</section>


<!-- ============================================================= -->

<section id="insecure_connections">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="glyphicon glyphicon-eye-open"></i> App Transport Security (ATS)</h3>
            </div>

              <div class="box-body no-padding">
              <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">

                  <thead>
                      <tr>
                        <th>ISSUE</th>
                        <th>STATUS</th>
                        <th>DESCRIPTION</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% if insecure_connections|length > 0 %}
                      {%for con in insecure_connections%}
                      <tr>
                        <td>
                          Exception in NSAppTransportSecurity found.
                        <td>
                          <span class="label label-danger">Insecure</span>
                        </td>
                        <td>
                        App Transport Security (ATS) is disabled on the domain '{{ con }}'.
                        Disabling ATS can allow insecure communication with particular servers or allow insecure loads for web views or for media, while maintaining ATS protections elsewhere in your app.
                        </td>
                      </tr>
                      {% endfor %}
                    {% else %}
                    <tr>
                      <td>
                        None
                      <td>
                        <span class="label label-success">Secure</span>
                      </td>
                      <td>
                        No insecure connections configured. App Transport Security (ATS) is enabled.
                      </td>
                    </tr>
                    {% endif %}
                  </tbody>
              </table>
              </div>
            <!-- /.box-body -->
          </div>
</section>


<!-- ============================================================= -->

<section id="ios-api">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i> iOS API</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                     {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewFile/?file={{ path }}&md5={{ md5 }}&type=ios"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>    
              {% endfor %} 
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>


<!-- ============================================================= -->

<section id="code">
   <h2 class="page-header"></h2>
   <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa  fa-code"></i> Code Analysis</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
             <div class="table-responsive">
                                      <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>ISSUE</th>
                                                <th>SEVERITY</th>
                                                <th>CVSS</th>
                                                <th>CWE</th>
                                                <th>OWASP</th>
                                                <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                     {% for issue, details in insecure.items %}
                  <tr>
                  <td>
                  {{ issue }}
                  </td>
                  <td>
                    {% if details|key:"level" == "high" %}
                      <span class="label label-danger">high</span>
                      {% elif details|key:"level" == "good" %}
                      <span class="label label-success">secure</span>
                      {% elif details|key:"level" == "warning" %}
                      <span class="label label-warning">warning</span>
                      {% elif details|key:"level" == "info" %}
                      <span class="label label-info">info</span>
                      {% endif %}
                  </td>
                  <td><b>{{ details|key:"cvss" }}</b></td>
                  <td><b>{{ details|key:"cwe" }}</b></td>
                  <td><b>{{ details|key:"owasp" }}</b></td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewFile/?file={{ path }}&amp;md5={{ md5 }}&amp;type=ios"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>    
              {% endfor %} 
                    </tbody>
                    </table>

                            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>


<!-- ============================================================= -->

<section id="file">
  <h2 class="page-header"></h2>
    <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-file-text-o"></i> File Analysis</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
            <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>ISSUE</th>
                                                <th>FILES</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {%for item in file_analysis %}
                                          <tr>
                                            <td>
                                              {{ item.issue }}
                                            </td>
                                            <td>
                                              {% for file in item.files %}
                                                {% if file.type %}
                                                <a href="../ViewFile/?file={{file.file_path}}&type={{file.type}}&md5={{file.hash}}">{{ file.file_path }}</a>
                                                {% else %}
                                                {{ file.file_path }}
                                                {% endif %}
                                                </br>
                                              {% endfor %}
                                            </td>
                                        
                                          </tr>
                                          {% endfor %}
                    </tbody>
                    </table>
                            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>


<!-- ============================================================= -->

<section id="url">
  <h2 class="page-header"></h2>
       <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="glyphicon glyphicon-globe"></i> URLs</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
              {% if urls %} 
                  <thead>
                  <tr>
                     <th>URL</th>
                     <th>File</th>
                  </tr>
                 </thead>
                  {% endif %}
                 <tbody>
                
                
                  {% for urldict in urls %}
                    <tr>
                       <td>
                       {% for u in urldict|key:"urls" %}
                         {{ u }}
                       {% endfor %}
                        </td>

                       <td>
                          <a href="../ViewFile/?file={{urldict|key:"path"}}&md5={{ md5}}&type=ios">{{urldict|key:"path"}}</a>
                          
                       </td>
                    </tr>
                  {% endfor %} 
                    </tbody>
                    </table>

                            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
  </section>


<!-- ============================================================= -->


<section id="firebase">
  <h2 class="page-header"></h2>
       <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-database"></i> Firebase Databases</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                  {% if firebase %} 
                  <thead>
                  <tr>
                     <th>Database URL</th>
                     <th>Details</th>
                  </tr>
                 </thead>
                  {% endif %}
                 <tbody>
                
                
                  {% for item in firebase %}
                    <tr>
                       <td>
                       {{ item.url }}
                        </td>

                       <td>
                         {% if item.open %}
                          <span class="label label-danger">insecure</span></br>Firebase DB is exposed publically.
                        {% else %}
                         <span class="label label-primary">Info</span></br>App talks to a Firebase Database.
                         {% endif %}
                      
                       </td>
                    </tr>
                  {% endfor %} 
                    </tbody>
                     
                    </table>
                                
                            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
  </section>


<!-- ============================================================= -->
<section id="domain">
  <h2 class="page-header"></h2>
       <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="glyphicon glyphicon-screenshot"></i> Malware Check</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                  {% if urls %}
                  <thead>
                  <tr>
                     <th>Domain</th>
                     <th>Status</th>
                  </tr>
                 </thead>
                  {% endif %}
                 <tbody>

                  {% for domain, details in domains.items %}
                  <tr><td>{{domain}}</td><td>

                    {% if details|key:"bad" == "yes" %}
                    <span class="label label-danger">malware</span></br>
<pre>
<strong>URL: </strong>{{details|key:"domain_or_url"}}
<strong>IP: </strong><span class="label label-danger">{{details|key:"ip"}}</span>
<strong>Description: </strong>{{details|key:"desc"}}
</pre>
                  {% else %}
                    <span class="label label-success">good</span></br>
                  {% endif %}


                  </td> </tr>
                  {% endfor %}

                    </tbody>
                    </table>

             </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
  </section>


<!-- ============================================================= -->
<section id="email">
  <h2 class="page-header"></h2>
     <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="glyphicon glyphicon-envelope"></i> Emails</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
               {% if emails %} 
                  <thead>
                  <tr>
                     <th>Email</th>
                     <th>File</th>
                  </tr>
                 </thead>
                 {% endif %}
                 <tbody>
                                        <tbody>
                
                 {% for email_dict in emails %}
                    <tr>
                       <td>
                       {% for e in email_dict|key:"emails" %}
                         {{ e }}
                       {% endfor %}
                        </td>

                       <td>
                          <a href="../ViewFile/?file={{email_dict|key:"path"}}&md5={{ md5}}&type=ios">{{email_dict|key:"path"}}</a>   
                       </td>
                    </tr>
                  {% endfor %} 
                    </tbody>
                    </table>
                 </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>


<section id="files">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-files-o"></i> Files</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
           <div class="list-group">
                  <p>
                {% for file in files %}
                  {{ file}} <br>
                {% endfor %}

                  </p>
                                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>
        </div><!-- /.content -->
      </div><!-- /.content-wrapper -->


{% endblock %}
