
  {% extends "base_top_only.html" %}
   {% block content %}
    

<div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-code"></i> Java Source</h3>
            <form class="navbar-form navbar-right" action="../Find/" method="POST">
             {% csrf_token %} 
          Find in files: <input type="text" name="q" class="form-control" placeholder="Find....">
          <input type="hidden" name="md5" value="{{md5}}">
          <input type="hidden" name="code" value="java">
         </form>
          </div>

          <div class="box-body">
         
              <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <tbody>
                    {{ files | safe}}
                    </tbody>
                  </table>
               </div>

          </div>
          <!-- /.box-body -->
        </div>
{% endblock %}
