{% extends "base/base_layout.html" %}
{% load static %}
 {% block sidebar_option %}
      sidebar-collapse
{% endblock %}
{% block extra_css %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static "adminlte/plugins/datatables-bs4/dataTables.bootstrap4.min.css" %}">
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
  </div>
   <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h3 class="box-title"><i class="fa fa-code"></i> Smali Source</h3>
                <div class="row">
                <div class="float-right col-3">
                 <form class="navbar-form navbar-right" action="../Find/" method="POST">
                    {% csrf_token %} 
                    <br/>
                  <strong>Find in files:</strong> <input type="text" name="q" class="form-control" placeholder="Find....">
                  <input type="hidden" name="md5" value="{{hash}}">
                  <input type="hidden" name="code" value="smali">
                </form>
                </div>
                 <div class="col-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Files</th>
                    </tr>
                    <tbody>
                    {% for file in files %}
                      <tr><td><a href="../ViewSource/?file={{ file }}&amp;md5={{ hash }}&amp;type={{ type }}">{{ file }}</a></td></tr>
                    {% endfor %}
                    </tbody>
                  </table>
               </div>
               </div>
               </div>
          </div>
        </div>
       </div>
     </div>
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
<!-- DataTables -->
<script src="{% static "adminlte/plugins/datatables/jquery.dataTables.min.js" %} "></script>
<script src="{% static "adminlte/plugins/datatables-bs4/dataTables.bootstrap4.min.js" %}"></script>
<script>
  $(function () {
    // Datatable
    $('table').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "responsive": true,
    });
  });
</script>
{% endblock %}
