
  {% extends "base.html" %}
   {% block content %}
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <div class="sidebar" id="scrollspy">

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="nav sidebar-menu">
            <li class="header">Static Analysis</li>
            <li class="active"><a href="#information"><i class="glyphicon glyphicon-info-sign"></i> Information</a></li>
            <li><a href="#options"><i class="fa fa-gears"></i> Options</a></li>
            <li><a href="#binary"><i class="fa fa-mobile"></i> Binary Analysis</a></li>
            <li><a href="#files"><i class="fa fa-files-o"></i> Files</a></li>
            <li><a target="_blank" href="../PDF/?md5={{ md5 }}&amp;type=APPX"><i class="glyphicon glyphicon-list-alt"></i> Download Report</a></li>
          </ul>
        </div>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->



<!-- Modal -->

        <div class="modal fade" id="myModalStrings" tabindex="-1" role="dialog" aria-labelledby="myModalLabelStrings">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Strings</h4>
              </div>
              <div class="modal-body">
          <pre><code>
           {% for string in strings %}
           {{string | safe}}
           {% endfor %}
          </code></pre>
              </div>

            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->


        <!-- Main content -->
        <div class="content body">

<section id="information">
  <h2 class="page-header"></h2>
  <p class="lead">
      <div class="row">
    <div class="col-sm-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">File Information</h3>
          <span class="label label-primary pull-right"><i class="glyphicon glyphicon-file"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
           <div class="list-group">
                  <p>
                      <span class="label label-primary">Name</span>
                      {{ name }}
                  </p>
                  <p>
                      <span class="label label-primary">Size</span>
                      {{ size }}
                  </p>
                  <p>
                      <span class="label label-primary">MD5</span>
                      {{ md5 }}
                  </p>
                  <p>
                     <span class="label label-primary">SHA1</span>
                      {{ sha1 }}
                  </p>
                  <p>
                     <span class="label label-primary">SHA256</span>
                    {{ sha256 }}
                </p>
             </div>

        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-sm-5">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">App Information</h3>
          <span class="label label-danger pull-right"><i class="glyphicon glyphicon-info-sign"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
        <div class="list-group">
               <p>
              <span class="label label-primary">App Name</span>
              {{ bin_name }}
              </p>
              <p>
                  <span class="label label-primary">Publisher</span>
                  {{ pub_name }}
              </p>
              <p>
               <span class="label label-primary">Version</span>
               {{ version }}
              </p>
              <p>
               <span class="label label-primary">Arch</span>
               {{ arch }}
              </p>
       </div>

        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-sm-12">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">XML Information</h3>
          <span class="label label-danger pull-right"><i class="glyphicon glyphicon-info-sign"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
        <div class="list-group">
               <p>
              <span class="label label-primary">Compiler Version</span>
              {{ compiler_version }}
              </p>
              <p>
                <span class="label label-primary">Visual Studio Version</span>
                  {{ visual_studio_version }}
              </p>
              <p>
               <span class="label label-primary">Visual Studio Edition</span>
               {{ visual_studio_edition }}
              </p>
              <p>
               <span class="label label-primary">Target OS</span>
               {{ target_os }}
              </p>
              <p>
              <span class="label label-primary">APPX DLL Version</span>
              {{ appx_dll_version }}
            </p>
            <p>
             <span class="label label-primary">Proj GUID</span>
              {{ proj_guid }}
            </p>
            <p>
             <span class="label label-primary">Opti Tool</span>
              {{ opti_tool }}
            </p>
            <p>
             <span class="label label-primary">Target Run</span>
              {{ target_run }}
            </p>
       </div>

        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->
  </p>
</section><!-- /#introduction -->


<!-- ============================================================= -->

<section id="options">
  <h2 class="page-header"></h2>
      <!-- Small boxes (Stat box) -->


  <div class="row">

    <div class="col-sm-12">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Options</h3>
          <span class="label label-danger pull-right"><i class="fa fa-flash"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
         <div align="center">
           <a data-target="#myModalStrings" role="button" class="btn btn-info" data-toggle="modal"><i class="fa fa-list"></i> View Strings</a>
           <a href="../StaticAnalyzer_Windows/?checksum={{ md5 }}&amp;name={{ name }}&amp;type=appx&amp;rescan=1" class="btn btn-info" role="button"><i class="glyphicon glyphicon-refresh"></i> Rescan</a>
         </div>
       </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->

</section>


<!-- ============================================================= -->


<section id="binary">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa fa-mobile"></i> Binary Analysis</h3>
            </div>
           <div class="box-body no-padding">
              <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                  <thead>
                      <tr>
                          <th>ISSUE</th>
                          <th>STATUS</th>
                          <th>DESCRIPTION</th>
                          <th>INFO</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for result in bin_an_results %}
                      <tr>
                        <td>{{ result.rule_id }}</td>
                        <td>
                          {% if result.status == "Insecure" %}
                            <span class='label label-danger'>
                          {% endif %}
                          {% if result.status == "Secure" %}
                            <span class='label label-success'>
                          {% endif %}
                          {% if result.status == "Info" %}
                            <span class='label label-info'>
                          {% endif %}
                              {{ result.status }}
                          </span>
                        </td>
                        <td>{{ result.desc }}</td>
                        <td>{{ result.info }}</td>
                      </tr>
                    {% endfor %}
                    {% for warn in bin_an_warnings %}
                    <tr>
                      <td>{{ warn.rule_id }}</td>
                      <td>
                          <span class='label label-info'>
                            {{ warn.status }}
                        </span>
                      </td>
                      <td>{{ warn.desc }}</td>
                      <td>{{ warn.info }}
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>

<section id="files">
  <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-files-o"></i> Files</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
           <div class="list-group">
                  <p>
                {% for file in files %}
                  {{ file}} <br>
                {% endfor %}

                  </p>
                                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>

        </div><!-- /.content -->
      </div><!-- /.content-wrapper -->



{% endblock %}
