<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.googlecode.gtalksms" android:versionName="0.3.1" android:versionCode="5">
    <uses-sdk android:minSdkVersion="5" />
    <application android:icon="@drawable/icon_green" android:label="@string/app_name">
        <activity android:name="com.googlecode.gtalksms.panels.MainScreen"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.googlecode.gtalksms.geo.GeoPopup"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="com.googlecode.gtalksms.panels.Preferences"
                  android:label="@string/set_preferences">
        </activity>
        <service android:enabled="true" android:name="com.googlecode.gtalksms.XmppService">
            <intent-filter>
                <action android:name=".GTalkSMS.ACTION" />
            </intent-filter>
        </service>
        <receiver android:name="com.googlecode.gtalksms.WidgetProvider" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/appwidget_info" />
        </receiver>
        <receiver android:name="com.googlecode.gtalksms.WidgetActivator">
            <intent-filter>
                <action android:name=".WidgetGTalkSMS.ACTION" />
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:name="com.googlecode.gtalksms.LocationService" />
        <receiver android:name="com.googlecode.gtalksms.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.googlecode.gtalksms.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.googlecode.gtalksms.CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.googlecode.gtalksms.NetworkConnectivityReceiver" android:enabled="true">
             <intent-filter>
                 <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
             </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
