{% extends "base/base_layout.html" %}
 {% block sidebar_option %}
      sidebar-collapse
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
  </div>
   <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h1>About Mobile Security Framework</h1>
                  <h1>关于移动安全框架</h1>
                  <p class="lead">
                      移动安全框架（MobSF）是一个针对 Android、iOS 和 Windows Mobile 应用的安全研究平台。MobSF 可用于多种场景，如移动应用安全、渗透测试、恶意软件分析和隐私分析。静态分析器支持 APK、IPA、APPX 等主流移动应用二进制文件和源代码。动态分析器支持 Android 和 iOS 应用，提供交互式插桩测试、运行时数据和网络流量分析平台。MobSF 可通过 REST API 和 CLI 工具无缝集成到 DevSecOps 或 CI/CD 流水线中，轻松增强您的安全工作流程。
                   </p>
                    <p> <strong>作者：</strong> <a href="//twitter.com/ajinabraham">Ajin Abraham</a> </p>
                    <h2>活跃协作者</h2>
                    <p><a href="//github.com/magaofei">Magaofei</a></p>
                    <p><a href="//github.com/matandobr">Matan Dobrushin</a></p>
                    <p><a href="//github.com/superpoussin22">Vincent Nadal</a></p>
          </div>
        </div>
       </div>
     </div>
    </div>
</div>
{% endblock %}
