{% extends "base/base_layout.html" %}
{% load static %}
{% block sidebar_option %}
sidebar-collapse
{% endblock %}
{% block extra_css %}
<link href="{% static "adminlte/plugins/sweetalert2/sweetalert2.min.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'landing/css/recent.css' %}">
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="content-header">
  </div>
  {{ entries|json_script:"existing_keys" }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h1 style="float: left">API Keys</h1>
            <a class="btn btn-success btn-sm" data-target="#new_api_key" data-toggle="modal" href="#" role="button"
              style="float: right; margin-top: 12px; margin-right: 12px;"><i class="fa fa-plus-circle"
                title="Generate a new API key"></i> New API Key</a>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Description</th>
                      <th>Notify Email</th>
                      <th>Role</th>
                      <th>API Key</th>
                      <th>Create Date</th>
                      <th>Expiration Date</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for e in entries %}
                    <tr>
                      <td>{{ e.DESCRIPTION }}</td>
                      <td>{{ e.EMAIL }}</td>
                      <td>{{ e.ROLE_NAME }}</td>
                      <td>{{ e.KEY_PREFIX }}</td>
                      <td>{{ e.CREATE_DATE|date:"M j, Y" }} {{ e.CREATE_DATE|time:"g:i A" }}</td>
                      <td>{{ e.EXPIRE_DATE|date:"M j, Y" }}</td>
                      <td><a class="btn btn-primary btn-sm" href="#" onclick="edit_apikey({{ e.ID }})" style="margin-right: 12px;"><i
                            class="fas fa-pen"></i> Edit </a><a class="btn btn-warning btn-sm" href="#"
                          onclick="revoke_apikey({{ e.ID }})"><i class="fa fa-ban"></i> Revoke </a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  New API Key Modal -->
  <div class="modal" id="new_api_key" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">New API Key</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label>Description</label>
              <input id="description" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Notify Email</label>
              <input id="email" type="text" class="form-control" value="{{ sso_email }}">
            </div>
            <div class="form-group">
              <label>Role</label>
              <select id="role" class="form-control">
                <option value="1">UPLOAD_ONLY</option>
                <option value="2">READ_ONLY</option>
                <option value="3">FULL_ACCESS</option>
              </select>
            </div>
            <div class="form-group">
              <label>Expiration Date</label>
              <input id="expire_date" class="form-control" type="date" min="{{ min_date }}" max="{{ max_date }}"
                value="{{ default_exp_date }}">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-secondary disable">Cancel</button>
          <button id="create_api_key_post" type="button" onclick="new_apikey(this)"
            class="btn btn-primary disable">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!--  Edit API Key Modal -->
  <div class="modal" id="edit_api_key" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit API Key</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label>Description</label>
              <input id="edit_description" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Notify Email</label>
              <input id="edit_email" type="text" class="form-control" value="{{ sso_email }}">
            </div>
            <div class="form-group">
              <label>Role</label>
              <select id="edit_role" class="form-control"> 
                <option value="1">UPLOAD_ONLY</option>
                <option value="2">READ_ONLY</option>
                <option value="3">FULL_ACCESS</option>
              </select>
            </div>
            <div class="form-group">
              <label>Expiration Date</label>
              <input id="edit_expire_date" class="form-control" type="date" min="{{ min_date }}" max="{{ max_date }}"
                value="{{ default_exp_date }}">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-secondary disable" onclick="close_edit_modal()">Cancel</button>
          <button id="create_api_key_post" type="button" onclick="edit_apikey_post(this)"
            class="btn btn-primary disable">Submit</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  {% block extra_scripts %}

  <script src="{% static "adminlte/plugins/sweetalert2/sweetalert2.min.js" %}"></script>
  <script src="{% static "others/js/dayjs.min.js" %}"></script>
  <script>    
    var edit_id;
    const my_keys = JSON.parse(document.getElementById('existing_keys').textContent)
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
    }

    function new_apikey(item) {
      $.ajax({
        url: "admin/create_api_key",
        type: "POST",
        dataType: "json",
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          description: $('#description').val(),
          email: $('#email').val(),
          role: $('#role').val(),
          expire_date: $('#expire_date').val(),
        },
        success: function (json) {
          $('#new_api_key').modal('hide');

          if (json.api_key) {
            Swal.fire({
              title: "New API Key",
              html:
                '<textarea id="display_api" rows="1" readonly style="width: 100%; height:auto; text-align:center; margin-bottom: 5px;">' + json.api_key + '</textarea>' +                
                '<p>Please copy this API key and store it someplace safe. It will not be accessible after you close this window.</p><p> If you lose this API key you will need to generate a new one.</p>' +
                '<button type="button" class="btn btn-primary btn" id="btn-copy" style="float: none; margin-right: 5px;">Copy</button>' +
                '<button type="button" class="btn btn-secondary btn" id="btn-ok" disabled>Close</button>' +
                '</div>',
              showConfirmButton: false,
              allowOutsideClick: false,
              allowEscapeKey: false,
              type: "success",
              onOpen: () => {
                $("#btn-copy").click(() => {
                  $("#btn-ok").prop('disabled', false);

                  $("#display_api").select();
                  document.execCommand("copy");
                });
                $('#display_api').bind({
                  copy : function() {
                    $("#btn-ok").prop('disabled', false);
                  },
                  cut : function() {
                    $("#btn-ok").prop('disabled', false);                  
                  }
                });
                $("#btn-ok").click(() => {
                  Swal.close();
                  location.reload(true);
                });
              }
            });

          }
          else {
            Swal.fire(
              'Creation Failed',
              'Unable to create API key, please try again.',
              'error'
            )
          }
        },
        error: function (xhr, errmsg, err) {
          Swal.fire(
            'Creation Failed',
            errmsg,
            'error'
          )
        }
      });
      return false;
    }

    function revoke_apikey(item) {
      Swal.fire({
        title: 'Are you sure?',
        text: "This will permanently revoke the selected API key",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
        confirmButtonColor: '#d33',
        cancelButtonColor: '#2da532',
      }).then((result) => {
        if (result.value) {
          $.ajax({
            url: "/admin/revoke_api_key",
            type: "POST",
            dataType: "json",
            data: {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              id: item,
            },
            success: function (json) {
              Swal.fire({
                  title: 'Success',
                  text: 'API key has been revoked.',
                  type: 'success'
                }).then(function () {
                  location.reload();
                });
            },
            error: function (xhr, errmsg, err) {
              Swal.fire(
                {
                  title: 'Error',
                  text: 'There was an error revoking the API key' + errmsg,
                  type: 'error'
                }
              )
            }
          });
          return false;
        }
      })
    }

    function edit_apikey(id) {
          var role = "";
          var description = "";
          var email = "";
          var date = "";
          for (var i=0 ; i < my_keys.length ; i++)
          {
            if (my_keys[i]["ID"] == id) {
              role = my_keys[i]["ROLE"];
              description = my_keys[i]["DESCRIPTION"];
              email = my_keys[i]["EMAIL"];
              date = my_keys[i]["EXPIRE_DATE"];

            }
          }          
          edit_apikey_id = id;
          var myDescription = document.getElementById('edit_description');
          myDescription.value = description;          
          var mySelect = document.getElementById('edit_role');
          for(var i, j = 0; i = mySelect.options[j]; j++) {
            if(i.value == role) {
              mySelect.selectedIndex = j;
            break;
            }
          }

          var myEmail = document.getElementById('edit_email');
          myEmail.value = email;
          var myDate = document.getElementById('edit_expire_date');
          myDate.value = date.split("T")[0];
          $('#edit_api_key').modal('show');
    }      

    function edit_apikey_post() {
      $.ajax({
        url: "admin/edit_api_key",
        type: "POST",
        dataType: "json",
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          id: edit_apikey_id,
          description: $('#edit_description').val(),
          email: $('#edit_email').val(),
          role: $('#edit_role').val(),
          expire_date: $('#edit_expire_date').val(),
        },
        success: function (json) {
          $('#edit_api_key').modal('hide');
          Swal.fire({
              title: 'Success',
              text: 'API key details have been changed',
              type: 'success'
            }).then(function () {
              location.reload(true);
            });
        },
          error: function (xhr, errmsg, err) {
            Swal.fire(
              {
                title: 'Error',
                text: 'There was an error editing the API key details' + errmsg,
                type: 'error'
              }
            )
        }
      })
    }          

    function close_edit_modal() {
      $('#edit_api_key').hide();
    }

    $(document).ready(function () {
      $('#new_api_key').on('shown.bs.modal', function () {
        $('#description').focus();
      })
    });
  </script>  
  {% endblock %}