{% extends "base/base_layout.html" %}
 {% block sidebar_option %}
      sidebar-collapse
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
  </div>
   <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h1>捐赠 MobSF 项目</h1>
                <p class="lead">
                    太棒了！感谢您的支持 ♥
                </p>
                <div class="row">

                    <div class="col-lg-6">
                      
                        <div class="card">
                            <div class="card-header ui-sortable-handle" >
                              <h3 class="card-title">
                            GitHub 赞助
                              </h3>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <p style="text-align: center;">
                                    通过 GitHub 赞助捐赠 MobSF 项目。GitHub 将匹配前 5000 美元的捐赠。
                                </br>
                                </br>
                                <iframe src="https://github.com/sponsors/ajinabraham/button" title="Sponsor ajinabraham" height="35" width="116" style="border: 0;"></iframe>
                                </p>
                            </div><!-- /.card-body -->
                          </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header ui-sortable-handle" >
                          <h3 class="card-title">
                          PayPal 捐赠
                          </h3>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <p style="text-align: center;">
                         您也可以通过 PayPal 捐赠 MobSF 项目。
                         </br>
                         </br>
                           <a href="https://www.paypal.com/paypalme/ajinabraham" rel="noopener noreferrer"><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" /></a>
                        </p>
                        </div><!-- /.card-body -->
                    </div>
                    </div>
                </div>
          </div>
        </div>
       </div>
     </div>
    </div>
</div>
{% endblock %}
