{% extends "base/base_layout.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/landing/css/home.css">
{% endblock %}
{% block sidebar_option %}
sidebar-collapse
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="inner cover">
              <h3 class="box-title">Upload Mobile App</h3>              
              <form id="upload_form" novalidate enctype="multipart/form-data" method="post">
                {% csrf_token %}

                <div class="row"> <!-- first row -->

                  <!-- Application Name -->
                  <div class="col-md-5">
                    <label for="appname">Application Name
                      <i class="fas fa-info-circle fa-lg"
                        title="The name of the mobile application as it appears (or will appear) in the applicable app store.">
                      </i>
                    </label>
                    <input type="text" class="form-control" id="appname" placeholder="Application Name"
                      onfocusout="lookupHandler()" required>
                    <div id="err_name" class="hidden"><span class="error">Application Name Required!</span>
                    </div>
                  </div>

                  <!-- Version -->
                  <div class="col-md-2">
                    <label for="version">Version
                      <i class="fas fa-info-circle fa-lg" title="The version of the mobile application.">
                      </i>
                    </label>
                    <input type="text" class="form-control" style="width:90%" id="version" placeholder="Version"
                      value="1.0" required>
                    <div id="err_version" class="hidden"><span class="error">Version Required!</span>
                    </div>
                  </div>

                  {% if is_admin %}
                  <!-- Release -->
                  <div class="col-md-4">
                    <div style="margin-top:36px;">
                      <input type="checkbox" id="release">
                      <label for="release" style="font-weight:500;">Release Version
                        <i class="fas fa-info-circle fa-lg" title="Select to mark mobile app as a release version.">
                        </i>
                      </label>
                    </div>
                  </div>
                  {% endif %}

                </div> <!-- end of first row -->

                <hr class="upload-form-hr">

                <div class="row"> <!-- second row -->

                  <!-- Environment -->
                  <div class="col-md-3">
                    <label for="environment">Environment
                      <i class="fas fa-info-circle fa-lg" title="The release status of the mobile application.">
                      </i>
                    </label>
                    <select class="custom-select w-100" id="environment">
                      <option value="Production">Production</option>
                      <option value="Preproduction">Preproduction</option>
                      <option value="Decommissioned">Decommissioned</option>
                    </select>
                  </div>

                  <!-- Division -->
                  <div class="col-md-3">
                    <label for="division">Division</label>
                    <i class="fas fa-info-circle fa-lg"
                      title="The organizational division applicable to the mobile application.">
                    </i>
                    <select class="custom-select d-block w-100" id="division">
                      <option>Unknown</option>
                    </select>
                    <div id="err_division" class="hidden"><span class="error">Division Required!</span>
                    </div>
                  </div>

                  <!-- Country -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="country">Country</label>
                      <i class="fas fa-info-circle fa-lg"
                      title="The country (or countries) where the mobile app has been (or will be) released.">
                      </i>
                      <select class="select2bs4" style="width: 100%" id="country" required multiple>
                        <option>Unknown</option>
                      </select>
                    </div>
                  </div>

                </div> <!-- end of second row -->

                <hr class="upload-form-hr">

                <div class="row"> <!-- third row -->

                  <!-- Data Privacy -->
                  <div class="col-md-6">
                    <label for="data_privacy_classification">Data Privacy
                      <i class="fas fa-info-circle fa-lg"
                        title="The data privacy classification for the mobile application.">
                      </i>
                    </label>
                    <select class="custom-select d-block w-100" id="data_privacy_classification" size="1" required>
                      <option value=""></option>
                      <option>Highly Restricted</option>
                      <option>Restricted</option>
                      <option>Internal Use Only</option>
                      <option>Public</option>
                      <option>Does Not Apply</option>
                    </select>
                    <div id="err_privacy" class="hidden">
                      <span class="error">Data Privacy Required!</span>
                    </div>
                  </div>

                  <!-- Data Privacy Attributes -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="data_privacy_attributes">Data Privacy Attributes
                        <i class="fas fa-info-circle fa-lg"
                          title="The data privacy attributes for the mobile application.">
                        </i>
                      </label>
                      <select class="select2bs4" style="width: 100%" id="data_privacy_attributes" required multiple>
                        <option>Unknown</option>
                      </select>
                    </div>
                  </div>

                </div> <!-- end of third row -->

                <hr class="upload-form-hr">

                <div class="row"> <!-- fourth row -->

                  <!-- Mobile App File -->
                  <div class="col-md-6 mb-3">
                    <label for="uploadFile" class="form-label">
                      <i class="fa fa-mobile-alt fa-lg" aria-hidden="true"></i> &nbsp;Mobile App
                      File
                    </label>
                    <input class="form-control" type="file" name="file" id="uploadFile"
                      placeholder="Choose Mobile App File" accept=".aar, .apk, .apks, .appx, .ipa, .jar, .xapk, .zip">
                    <div id="err_file" class="hidden"><span class="error">Mobile App File Required!</span></div>
                  </div>

                  <!-- Source Code File -->
                  <div class="col-md-6 mb-3">
                    <label for="uploadSourceFile" class="form-label">
                      <i class="fa fa-code fa-lg" aria-hidden="true"></i> &nbsp;Source Code File
                      (optional)
                    </label>
                    <input class="form-control" type="file" name="source_file" id="uploadSourceFile"
                      placeholder="Choose Source File" accept=".zip">
                  </div>

                </div> <!-- end of fourth row -->

                <hr class="upload-form-hr">

                <div class="row"> <!-- fifth row -->

                  {% if is_admin %}
                  <div class="col-md-6 mb-3">
                    <label for="override_email" class="form-label">Email Address
                      <i class="fas fa-info-circle fa-lg"
                        title="Email of the user(s) to receive notifications about this scan.">
                      </i>
                    </label>
                    <input style="width:100%" class="form-control" type="text" id="override_email"
                      placeholder="Email Address" value="{{email}}">
                    <div id="err_email" class="hidden"><span class="error">Email Invalid!</span></div>
                  </div>
                  {% endif %}

                </div> <!-- end of fifth row -->

                <!-- Upload and Analyze Button -->
                <div class="fileUpload btn btn-default btn-lg" id="but">
                  <span class="fas fa-cloud-upload-alt"></span>
                  Upload &amp; Analyze
                </div>
                <progress id="progressBar" value="0" max="100" style="visibility:hidden"></progress>
                <h5 id="status"></h5>
              </form>
            </div> <!-- end of inner-cover -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extra_scripts %}
<script>  
  function _(el) {
    return document.getElementById(el);
  }

  function responseHandler(json, isbutton) {
    if (json.status === 'error') {
      _("status").innerText = json.description;
    } else {
      i = 1;
      setInterval(function () {
        dot = '';
        for (x = 1; x <= i; x++) {
          dot += '.';
        }
        _("status").innerText = "Analyzing" + dot;
        i += 1;
        if (i == 5) {
          i = 1;
        }
      }, 2000);
      window.location.href = "/recent_scans";
    }
  }
  function progressHandler(event) {
    var percent = (event.loaded / event.total) * 100;
    _("progressBar").value = Math.round(percent);
    _("status").innerText = Math.round(percent) + "% Uploaded...";
  }
  function completeHandler(event) {
    if (event.target.status !== 200) {
      var json = { status: "error", description: event.target.responseText };
      responseHandler(json);
    }
    else {
      var json = JSON.parse(event.target.responseText);
      responseHandler(json);
    }
  }
  function errorHandler(event) {
    _("status").innerText = "Upload Failed!";
  }
  function abortHandler(event) {
    _("status").innerText = "Upload Aborted!";
  }

  function lookupHandler(event) {
    var appname = $("#appname").val();
    if (appname) {
      $.ajax({
        url: "app_info",
        type: "GET",
        dataType: "json",
        data: {
          name: appname
        },
        success: function (json) {
          if (json.found) {
            if (json.release) {
              $("#release").prop("checked", true);
            }
            else {
              $("#release").prop("checked", false);
            }
            $("#version").val(json.version);
            $("#environment").val(json.environment);
            $("#division").val(json.division);
            $("#country").val(json.country.split(","));
            $("#data_privacy_classification").val(json.data_privacy_classification);
            $("#data_privacy_attributes").val(json.data_privacy_attributes.split(","));
            $("#override_email").val(json.email);

            $("#country").trigger('change');
            $("#data_privacy_attributes").trigger('change');
          }
        },
        error: function (xhr, errmsg, err) {
          //no need to do anything here    
        }
      })
    }
  }

  // Is valid file extension
  function isValidExt(file_name){
        var val = file_name.toLowerCase();
        var regex = new RegExp("(.*?)\.(ipa|apk|apks|xapk|jar|aar|so|dylib|a|zip|appx)$");
        val = val.replace(/^.*[\\\/]/, '');
        if (!(regex.test(val))) {
            _('status').innerText = "Please upload APK/APKS/XAPK/JAR/AAR/SO/IPA/DYLIB/A/ZIP/APPX only!";
            return false;
        }
        return true;
  }

  // Is allowed mimetype
  function isValidMime(file_mime) {
    if (file_mime.length < 1)
      // bypass if mime is not available
      return true;
    var supported = [{% for mime in mimes %} '{{mime}}', {% endfor %}];
    if (supported.indexOf(file_mime) > -1)
      return true;
    _('status').innerText = "MIME type (" + file_mime + ") is not supported!";
    return false;
  }

  // File Upload
  function upload(app_file, source_file, extradata) {
    try {
      if (!isValidExt(app_file.name) || !isValidMime(app_file.type)) {
        return;
      }
      if (source_file != null && (!isValidExt(source_file.name) || !isValidMime(source_file.type))) {
        return;
      }
      _("but").classList.add('hidden');
      _("progressBar").style.visibility = "visible";
      var url = '/upload/'
      var xhr = new XMLHttpRequest()
      xhr.open('POST', url, true)
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
      xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
      xhr.upload.addEventListener("progress", progressHandler, false);
      xhr.addEventListener("load", completeHandler, false);
      xhr.addEventListener("error", errorHandler, false);
      xhr.addEventListener("abort", abortHandler, false);
      var formdata = new FormData();
      formdata.append("file", app_file);
      if (source_file != null) {
        formdata.append("source_file", source_file);
      }
      formdata.append("user_app_name", extradata.user_app_name);
      formdata.append("user_app_version", extradata.user_app_version);
      formdata.append("division", extradata.division);
      formdata.append("country", extradata.country);
      formdata.append("environment", extradata.environment);
      formdata.append("data_privacy_classification", extradata.data_privacy_classification);
      formdata.append("data_privacy_attributes", extradata.data_privacy_attributes);
      formdata.append("release", extradata.release)
      formdata.append("email", extradata.email)
      xhr.send(formdata)
    } catch (e) {
      alert("Error:" + e);
    }
  }

  function checkRequired() {
    if (!_('appname').value) {
      _('err_name').classList.remove('hidden');
      return false;
    } else { _('err_name').classList.add('hidden'); }
    if (!_('version').value) {
      _('err_version').classList.remove('hidden');
      return false;
    } else { _('err_version').classList.add('hidden'); }
    if (!_('division').value) {
      _('err_division').classList.remove('hidden');
      return false;
    } else { _('err_division').classList.add('hidden'); }
    if (!_('data_privacy_classification').value) {
      _('err_privacy').classList.remove('hidden');
      return false;
    } else { _('err_privacy').classList.add('hidden'); }
    if (_("uploadFile").files.length === 0) {
      _('err_file').classList.remove('hidden');
      return false;
    } else { _('err_file').classList.add('hidden'); }

    if ($("#override_email").length) {
      var mailformat = /^[\W]*([\w+\-.%]+@[\w\-.]+\.[A-Za-z]{2,4}[\W]*,{1}[\W]*)*([\w+\-.%]+@[\w\-.]+\.[A-Za-z]{2,4})[\W]*$/;
      if (!_("override_email").value.match(mailformat)) {
        _('err_email').classList.remove('hidden');
        return false;
      } else { _('err_email').classList.add('hidden'); }
    }

    return true;
  }

  function populateDivisions() {
    var divisionsUrl = '{{tenant_static}}divisions.json';
    fetch(divisionsUrl)
      .then(response => response.json())
      .then(data => {
        var options = '<option value=""></option>';
        for (i = 0; i < data.length; i++) {
          options += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
        }
        _('division').innerHTML = options;
      });
  }

  function populateCountries() {
    var countriesUrl = '{{tenant_static}}countries.json';
    fetch(countriesUrl)
      .then(response => response.json())
      .then(data => {
        var options = '<option value="GLOBAL" selected>Global</option>';
        for (i = 0; i < data.length; i++) {
          options += '<option value="' + data[i].code + '">' + data[i].name + '</option>';
        }
        _('country').innerHTML = options;
      });
  }

  function populateDataPrivacy() {
    var privacyAttributesUrl = '{{tenant_static}}data-privacy-attributes.json';
    fetch(privacyAttributesUrl)
      .then(response => response.json())
      .then(data => {
        var options = '';
        for (i = 0; i < data.length; i++) {
          options += '<option value="' + data[i].id + '">' + data[i].id + ": " + data[i].name + '</option>';
        }
        _('data_privacy_attributes').innerHTML = options;
      });
  }

  $(document).ready(function () {
    populateDivisions();
    populateCountries();
    populateDataPrivacy();
    $('#appname').focus();

    //Initialize Select2 Elements
    $('.select2').select2();
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    });

    $('#country').change(function() {
      // If GLOBAL and other options are selected in country dropdown, remove GLOBAL
      if ($('#country').val().indexOf('GLOBAL') >= 0 && $('#country').val().length > 1) {
        if ($('#country').val().length > 2) {
          $('#country').val('GLOBAL');
        } else {
          $('#country').val($('#country').val().join(',').replace('GLOBAL,', '')); 
        }
        $("#country").trigger('change');
      }
    });

    $('#but').click(function () {
      _('status').innerText = "";

      // Ensure required fields are filled
      if (!checkRequired()) { return false; }
      if (_("uploadFile").files.length === 0) { return false; }

      var extradata = new Object();
      extradata.user_app_name = $('#appname').val();
      extradata.user_app_version = $('#version').val();
      extradata.country = $('#country').val().join(',');
      extradata.division = $('#division').val();
      extradata.environment = $('#environment').val();
      extradata.data_privacy_classification = $('#data_privacy_classification').val();
      extradata.data_privacy_attributes = $('#data_privacy_attributes').val().join(',');
      if ($('#override_email').length) {
        extradata.email = $('#override_email').val();
        extradata.release = $('#release').prop('checked');
      } else {
        extradata.email = ''
        extradata.release = false
      }

      if (_("uploadSourceFile").files.length === 0) {
        upload(_("uploadFile").files[0], null, extradata);
      }
      else {
        upload(_("uploadFile").files[0], _("uploadSourceFile").files[0], extradata);
      }
    });
  });
</script>
{% endblock %}