
{% extends "base/base_layout.html" %}
{% load static %}
 {% block sidebar_option %}
      sidebar-collapse
{% endblock %}
 {% block extra_css %}
<link href="{% static 'adminlte/plugins/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'landing/css/recent.css' %}">

{% endblock %}

{% block content %}
{% for e in entries %}
<div class="content-wrapper">
  <div class="content-header">
  </div>
   <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                

                 <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Scanned Apps{% if filter %} [{{filter}}]{% endif %}</h3>
        </div>

        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>HASH / DATE</th>
                        <th>APPLICATION</th>
                        <th>FILE</th>
                        <th>TYPE</th>
                        {% if is_admin %}<th>DETAILS</th>{% endif %}
                        <th style="width: 15%">ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="word-wrap: break-word; max-width: 200px;">
                                <div>{{ e.MD5 }}</div>
                                <div><span class="scandate">{{ e.TIMESTAMP|date:'c' }}</span></div>
                                <div>
                                {% if not e.COMPLETE %}
                                    {% if e.ERROR %}
                                        <span class="badge bg-danger" title="{{e.ERROR}}">scan error</span>
                                    {% else %}
                                        <span class="badge bg-warning">scan in progress</span>
                                    {% endif %}
                                {% else %}
                                    <span class="badge bg-primary" id="releaseBadge{{e.MD5}}" {% if not e.RELEASE %}style="display:none"{% endif %}>RELEASE</span>                                    
                                {% endif %}
                                </div>
                            </td>
                            <td align="center" style="word-wrap: break-word; max-width: 200px;">
                                <strong>{{e.USER_APP_NAME}} - {{e.USER_APP_VERSION}}</strong></br>
                                <img id="app_icon" src="/download/{{ e.MD5 }}-icon.png" onerror="this.src='{% static 'img/no_icon.png' %}'">
                                {% if e.COMPLETE %}
                                  <br/>{{ e.APP_NAME }} {% if e.VERSION_NAME %} - {{ e.VERSION_NAME }} {% endif %}
                                  <br/>{{ e.PACKAGE_NAME }}                                 
                                {% endif %}                                
                            </td>
                            <td>
                                {{ e.FILE_NAME }}
                            </td>
                            <td align="center" style="word-wrap: break-word; max-width: 200px;">
                                {% if '.apk' == e.FILE_NAME|slice:"-4:"%}<i class="fab fa-android fa-3x"></i>
                                {% elif '.xapk' == e.FILE_NAME|slice:"-5:"%}<i class="fab fa-android fa-3x"></i>
                                {% elif '.apks' == e.FILE_NAME|slice:"-5:"%}<i class="fab fa-android fa-3x"></i>
                                {% elif '.jar' == e.FILE_NAME|slice:"-4:"%}<i class="fab fa-java fa-3x"></i>
                                {% elif '.aar' == e.FILE_NAME|slice:"-4:"%}<i class="fas fa-table fa-3x"></i>
                                {% elif '.so' == e.FILE_NAME|slice:"-3:"%}<i class="fa fa-th-large fa-3x"></i>
                                {% elif '.ipa' == e.FILE_NAME|slice:"-4:"%}<i class="fab fa-apple fa-3x"></i>
                                {% elif '.dylib' == e.FILE_NAME|slice:"-6:"%}<i class="fa fa-th-large fa-3x"></i>
                                {% elif '.a' == e.FILE_NAME|slice:"-2:"%}<i class="fa fa-th-large fa-3x"></i>
                                {% elif '.zip' == e.FILE_NAME|slice:"-4:"%}<i class="fas fa-file-archive fa-3x"></i>
                                {% elif '.appx' == e.FILE_NAME|slice:"-5:"%}<i class="fab fa-windows fa-3x"></i>
                                {% endif %}
                            </td>                            
                            {% if is_admin %}
                            <td style="word-wrap: break-word; max-width: 200px;">           
                                <div id="viewFields{{e.MD5}}">
                                    <div id="userAppName{{e.MD5}}">{{e.USER_APP_NAME}}</div>
                                    <div id="userAppVersion{{e.MD5}}">{{e.USER_APP_VERSION}}</div>
                                    <div id="division{{e.MD5}}">{{e.DIVISION}}</div>
                                    <div id="environment{{e.MD5}}">{{e.ENVIRONMENT}}</div>
                                    <div id="country{{e.MD5}}">{{e.COUNTRY|default_if_none:""}}</div>
                                    <div id="dataPrivacyClassification{{e.MD5}}">{{e.DATA_PRIVACY_CLASSIFICATION|default_if_none:""}}</div>
                                    <div id="dataPrivacyAttributes{{e.MD5}}">{{e.DATA_PRIVACY_ATTRIBUTES|default_if_none:""}}</div>
                                    <div id="email{{e.MD5}}">{{e.EMAIL}}</div>
                                </div>
                                <div id="editFields{{e.MD5}}" class="editFields" style="display:none">
                                    <div><input type="text" id="userAppNameInput{{e.MD5}}" value="{{e.USER_APP_NAME}}" title="User supplied app name"/></div>
                                    <div><input type="text" id="userAppVersionInput{{e.MD5}}" value="{{e.USER_APP_VERSION}}" title="User supplied app version"/></div>
                                    <div><select id="divisionInput{{e.MD5}}" data="{{e.DIVISION}}" title="Division"></select></div>
                                    <div>
                                        <select id="environmentInput{{e.MD5}}" data="{{e.ENVIRONMENT}}" title="Environment">
                                            <option>Production</option>
                                            <option>Preproduction</option>
                                            <option>Decommissioned</option>
                                        </select>
                                    </div>                                    
                                    <div><input type="text" id="countryInput{{e.MD5}}" value="{{e.COUNTRY|default_if_none:''}}" title="Countries"/></div>                                    
                                    <div>
                                        <select id="dataPrivacyClassificationInput{{e.MD5}}" data="{{e.DATA_PRIVACY_CLASSIFICATION|default_if_none:''}}" title="Data privacy classification">
                                            <option>Highly Restricted</option>
                                            <option>Restricted</option>
                                            <option>Internal Use Only</option>
                                            <option>Public</option>
                                            <option>Does Not Apply</option>
                                        </select>
                                    </div>                                    
                                    <div><input type="text" id="dataPrivacyAttributesInput{{e.MD5}}" value="{{e.DATA_PRIVACY_ATTRIBUTES|default_if_none:''}}" title="Data privacy attributes"/></div>
                                    <div><input type="text" id="emailInput{{e.MD5}}" value="{{e.EMAIL}}" /></div>
                                    <div><input type="checkbox" id="releaseInput{{e.MD5}}" {% if e.RELEASE %}checked{% endif %}/><label for="releaseInput{{e.MD5}}"> Release Version</label></div>
                                </div>                                
                            </td>                               
                            {% endif %}
                            <td>
                                <p>                                    
                                    {% if e.COMPLETE %}
                                    <a class="btn btn-primary btn-sm" style="margin-bottom: 3px; width: 125px;" href="../{{ e.ANALYZER }}/?file_name={{e.FILE_NAME}}&amp;hash={{e.MD5}}&amp;scan_type={{e.SCAN_TYPE}}"><i class="fas fa-eye" title="View static analysis scan details"></i> Scan Details</a><br/>
                                        {% if e.FILE_NAME|slice:"-6:" != '.dylib' %}
                                            {% if e.FILE_NAME|slice:"-3:" != '.so' %}
                                                {% if e.FILE_NAME|slice:"-2:" != '.a' %}
                                                <a class="btn btn-primary btn-warning btn-sm" style="margin-bottom: 3px;  width: 125px;" href="../appsec_dashboard/{{ e.MD5 }}/"><i class="fas fa-user-shield" title="View security scorecard"></i> Scorecard</a><br/>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        {% if e.DT_PROJECT_ID %}
                                        <a class="btn btn-primary btn-sm" style="width: 125px;" href="{{dependency_track_url}}/projects/{{ e.DT_PROJECT_ID }}/components"><i class="fas fa-link" title="View third party dependency details"></i> Dependencies</a><br/>
                                        {% else %}
                                        <a class="btn btn-secondary btn-sm disabled" style="width: 125px;" href="#"><i class="fas fa-link" title="View third party dependency details"></i> Dependencies</a><br/>
                                        {% endif %}
                                    {% endif %}
                                </p>
                                <p>
                                    <a class="btn btn-outline-primary btn-sm" id="adminEdit{{e.MD5}}" onclick="admin_edit_test('{{e.MD5}}')" href="javascript:void(0);"><i class="fas fa-pen" title="Edit Scan"></i></a>
                                    <a class="btn btn-outline-primary btn-sm" id="{{ e.MD5 }}" onclick="delete_scan(this)" href="javascript:void(0);"><i class="fas fa-trash" title="Delete Scan"></i></a>
                                    {% if e.COMPLETE %}                                        
                                        <a class="btn btn-outline-primary btn-sm" href="../pdf/?md5={{ e.MD5 }}"><i class="fas fa-file-pdf" title="PDF Report"></i></a>                                                                                                                  
                                    {% endif %}                                    
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.box-body -->
    </div>


          </div>
        </div>
       </div>
     </div>
    </div>
</div>

<!--  Edit Scan Modal -->
<div class="modal" id="edit_scan" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        
        <div class="modal-header">
          <h3 class="modal-title">Edit Recent Scan</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close_edit_scan_modal()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="inner cover">
                
                <h5 class="box-title">
                    <b>FILE:</b> {{ e.FILE_NAME }}<br />
                    <b>HASH:</b> {{ e.MD5 }}<br />
                    <b>DATE:</b> <span class="scandate">{{ e.TIMESTAMP|date:'c' }}</span><br />
                </h5>         

                <form id="edit_scan_form" novalidate enctype="multipart/form-data" method="post">
                  {% csrf_token %}
  
                  <div class="row"> <!-- first row -->
  
                    <!-- Application Name -->
                    <div class="col-md-5">
                      <label for="appname">Application Name
                        <i class="fas fa-info-circle fa-lg"
                          title="The name of the mobile application as it appears (or will appear) in the applicable app store.">
                        </i>
                      </label>
                      <input type="text" class="form-control" id="appname" placeholder="Application Name" value="{{ e.USER_APP_NAME }}" required>
                      <div id="err_name" class="hidden"><span class="error">Application Name Required!</span>
                      </div>
                    </div>
  
                    <!-- Version -->
                    <div class="col-md-2">
                      <label for="version">Version
                        <i class="fas fa-info-circle fa-lg" title="The version of the mobile application.">
                        </i>
                      </label>
                      <input type="text" class="form-control" style="width:90%" id="version" placeholder="Version"
                        value="{{ e.USER_APP_VERSION }}" required>
                      <div id="err_version" class="hidden"><span class="error">Version Required!</span>
                      </div>
                    </div>
  
                    {% if is_admin %}
                    <!-- Release -->
                    <div class="col-md-4">
                      <div style="margin-top:36px;">
                        <input type="checkbox" id="release" {% if e.RELEASE %} checked {% endif %}>
                        <label for="release" style="font-weight:500;">Release Version
                          <i class="fas fa-info-circle fa-lg" title="Select to mark mobile app as a release version.">
                          </i>
                        </label>
                      </div>
                    </div>
                    {% endif %}
  
                  </div> <!-- end of first row -->
  
                  <hr class="edit_scan-form-hr">
  
                  <div class="row"> <!-- second row -->
  
                    <!-- Environment -->
                    <div class="col-md-3">
                      <label for="environment">Environment
                        <i class="fas fa-info-circle fa-lg" title="The release status of the mobile application.">
                        </i>
                      </label>
                      <select class="custom-select w-100" id="environment">
                        <option value="Production" {% if e.ENVIRONMENT == "Production" %} selected {% endif %}>Production</option>
                        <option value="Preproduction" {% if e.ENVIRONMENT == "Preproduction" %} selected {% endif %}>Preproduction</option>
                        <option value="Decommissioned" {% if e.ENVIRONMENT == "Decommissioned" %} selected {% endif %}>Decommissioned</option>
                      </select>
                    </div>
  
                    <!-- Division -->
                    <script>
                        var selectedDivision = "{{ e.DIVISION }}";
                    </script>
                    <div class="col-md-3">
                      <label for="division">Division</label>
                      <i class="fas fa-info-circle fa-lg"
                        title="The organizational division applicable to the mobile application.">
                      </i>
                      <select class="custom-select d-block w-100" id="division">
                        <option>Unknown</option>
                      </select>
                      <div id="err_division" class="hidden"><span class="error">Division Required!</span>
                      </div>
                    </div>
  
                    <!-- Country -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="country">Country</label>
                        <i class="fas fa-info-circle fa-lg"
                        title="The country (or countries) where the mobile app has been (or will be) released.">
                        </i>
                        {{ e.COUNTRY }}
                        <select class="select2bs4" style="width: 100%" id="country" required multiple>
                          <option>Unknown</option>
                        </select>
                      </div>
                    </div>
  
                  </div> <!-- end of second row -->
  
                  <hr class="edit_scan-form-hr">
  
                  <div class="row"> <!-- third row -->
  
                    <!-- Data Privacy -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="data_privacy_classification">Data Privacy
                                <i class="fas fa-info-circle fa-lg"
                                title="The data privacy classification for the mobile application.">
                                </i>
                            </label>
                            <select class="custom-select d-block w-100" id="data_privacy_classification" size="1" required>
                                <option value="Highly Restricted" {% if e.DATA_PRIVACY_CLASSIFICATION == "Highly Restricted" %} selected {% endif %}>Highly Restricted</option>
                                <option value="Restricted" {% if e.DATA_PRIVACY_CLASSIFICATION == "Restricted" %} selected {% endif %}>Restricted</option>
                                <option value="Internal Use Only" {% if e.DATA_PRIVACY_CLASSIFICATION == "Internal Use Only" %} selected {% endif %}>Internal Use Only</option>
                                <option value="Public" {% if e.DATA_PRIVACY_CLASSIFICATION == "Public" %} selected {% endif %}>Public</option>
                                <option value="Does Not Apply" {% if e.DATA_PRIVACY_CLASSIFICATION == "Does Not Apply" %} selected {% endif %}>Does Not Apply</option>
                            </select>
                            <div id="err_privacy" class="hidden">
                                <span class="error">Data Privacy Required!</span>
                            </div>
                        </div>
                    </div>
  
                    <!-- Data Privacy Attributes -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="data_privacy_attributes">Data Privacy Attributes
                          <i class="fas fa-info-circle fa-lg"
                            title="The data privacy attributes for the mobile application.">
                          </i>
                          {{ e.DATA_PRIVACY_ATTRIBUTES }}
                        </label>
                        <select class="select2bs4" style="width: 100%" id="data_privacy_attributes" required multiple>
                          <option>Unknown</option>
                        </select>
                      </div>
                    </div>
  
                  </div> <!-- end of third row -->
  
                  <hr class="edit_scan-form-hr">
  
                  <div class="row"> <!-- fourth row -->
  
                    {% if is_admin %}
                    <div class="col-md-6 mb-3">
                      <label for="override_email" class="form-label">Email Address
                        <i class="fas fa-info-circle fa-lg"
                          title="Email of the user(s) to receive notifications about this scan.">
                        </i>
                      </label>
                      <input style="width:100%" class="form-control" type="text" id="override_email"
                        placeholder="Email Address" value="{{e.EMAIL}}">
                      <div id="err_email" class="hidden"><span class="error">Email Invalid!</span></div>
                    </div>
                    {% endif %}
  
                  </div> <!-- end of fourth row -->
  
                </form>
              </div> <!-- end of inner-cover -->
        </div>

        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-secondary disable" onclick="close_edit_scan_modal()">Cancel</button>
          <button type="button" class="btn btn-secondary disable" onclick="edit_edit_scan_post(event)">Submit</button>
        </div>

      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}
{% block extra_scripts %}
<script src="{% static "adminlte/plugins/sweetalert2/sweetalert2.min.js" %}"></script>
<script src="{% static "others/js/dayjs.min.js" %}"></script>
<script>
    function _(el) {
        return document.getElementById(el);
    }

    // Diff functions
    var diff_first_md5 = '';
    var diff_first_name = '';

    // When a row is clicked, we check if we already have first scan, if so, ask for confirmation
    function enable_partner_select() {
        $('table tr').on('click', function (e) {
            e.preventDefault();
            if (diff_first_md5 == '') {
                return;
            }
            diff_confirmation($(this));
        })
    }

    function enable_diff_button(){
        $(".diffButton").on('click', function(e){
            e.stopPropagation();
            diff_select($(this));
        });
    }

    function disable_diff_button() {
        $('.diffButton').off('click');
    }

    // First pop up only saves the first scan to diff and tells the user to select a partner
    function diff_select(item) {

        Swal.fire({
            title: '<strong>Select App to Compare</strong>',
            type: 'info',
            text: 'Please select the second scan result for comparison',
            timer: 10000
        });
        diff_first_md5 = item.attr('id').slice(0, 32);
        diff_first_name = item.attr('id').slice(33);
        item.closest("tr").addClass("selected");
        item.closest("tbody").addClass("selectable_table");

        // Enable the second partner selection
        enable_partner_select();
        disable_diff_button();
    }

    function diff_cleanup() {
        first_td_id = diff_first_md5 + '_' + diff_first_name;
        $('[id="' + first_td_id + '"]').closest("tr").removeClass("selected");
        $('[id="' + first_td_id + '"]').closest("tbody").removeClass("selectable_table");
        diff_first_md5 = "";
        diff_first_name = "";
        enable_diff_button();
    }

    // Here we get jquery row
    function diff_confirmation(item) {
        // First we need the id which has the md5 and name
        rows_tds = item.find('td');
        selected_md5 = rows_tds[3].innerText;
        if (diff_first_md5 == selected_md5) {
            return;
        }
        diff_second_md5 = selected_md5;
        diff_second_name = rows_tds[1].innerText;

        Swal.fire({
            title: '<strong>Diff confirmation</strong>',
            type: 'info',
            html:
                '<strong>Do you want to diff - </strong><br />' + diff_first_name +
                '<br /> <strong>with - <br /> </strong>' + diff_second_name + ' <br /> <strong>?</strong>',

            showCancelButton: true,
            cancelButtonText: 'Cancel',
            confirmButtonText: 'Start Diffing!',
        }).then((result) => {
            if (result.value) {
                window.location = '/compare/' + diff_first_md5 + '/' + diff_second_md5 + '/';
            } else {
                 diff_cleanup();
            }
        })
    }

    function delete_scan(item){
      Swal.fire({
      title: 'Are you sure?',
      text: "This will permanently remove the scan results",
      type: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes',
      cancelButtonText: 'No',
      confirmButtonColor: '#d33',
      cancelButtonColor: '#2da532',
    }).then((result) => {
        if (result.value) {
            var md5_hash = item.id;
            $.ajax({
                    url: '../delete_scan/',
                        type : 'POST',
                    dataType: 'json',
                        data : {
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                md5: md5_hash,
                                },
                            success : function(json) {
                                if (json.deleted==='yes'){
                                    Swal.fire(
                                        'Deleted!',
                                        'The scan result is deleted!',
                                        'success'
                                    ).then(function () {
                                        location.reload();
                                    })
                                }
                                else {
                                    Swal.fire(
                                    'Delete Failed',
                                    'Cannot delete the scan result!',
                                    'error'
                                    )
                                }
                            },
                            error : function(xhr,errmsg,err) {
                                Swal.fire(
                                    'Delete Failed',
                                    errmsg,
                                    'error'
                                    )
                            }
                });
               
        } else {
                diff_cleanup();
        }
        });
    }

    function admin_edit_test(item){
        $("#edit_scan").modal('show');
        populateCountries();
        populateDataPrivacy();
        /*populateDivisions($("#divisionInput" + item));
        populateCountries($("#countryInput" + item));
        $("#country" + item).text($("#countryInput" + item).val());*/
    }

    function admin_edit(item){
        $("#environmentInput" + item).val($("#environmentInput" + item).attr("data"))
        $("#dataPrivacyClassificationInput" + item).val($("#dataPrivacyClassificationInput" + item).attr("data"))
        populateDivisions($("#divisionInput" + item));
        //populateCountries($("#countryInput" + item));
        //populateDataPrivacy($("#dataPrivacyAttributesInput" + item));
        $("#viewFields" + item).css('display','none');
        $("#editFields" + item).css('display','');
        $("#adminEdit" + item).css('display','none');
        $("#adminSave" + item).css('display','');
    }

    function admin_view(item){
        $("#viewFields" + item).css('display','');
        $("#editFields" + item).css('display','none');
        $("#adminEdit" + item).css('display','');
        $("#adminSave" + item).css('display','none');
    }

    function update_labels(item){
        $("#userAppName" + item).text($("#userAppNameInput" + item).val());
        $("#userAppVersion" + item).text($("#userAppVersionInput" + item).val());
        $("#division" + item).text($("#divisionInput" + item).val());
        $("#divisionInput" + item).attr("data", $("#divisionInput" + item).val());
        $("#environment" + item).text($("#environmentInput" + item).val());
        $("#environmentInput" + item).attr("data", $("#environmentInput" + item).val());
        $("#country" + item).text($("#countryInput" + item).val());
        $("#dataPrivacyClassification" + item).text($("#dataPrivacyClassificationInput" + item).val());
        $("#dataPrivacyClassificationInput" + item).attr("data", $("#dataPrivacyClassificationInput" + item).val());
        $("#dataPrivacyAttributes" + item).text($("#dataPrivacyAttributesInput" + item).val());
        $("#email" + item).text($("#emailInput" + item).val());
        if ($("#releaseInput" + item).prop("checked")) {
            $("#releaseBadge" + item).css('display','');
        }
        else {
            $("#releaseBadge" + item).css('display','none');
        }
    }

    function get_clean_emails(identifier){
        var retVal = "";
        var inputName = "#emailInput" + identifier;
        var emails = $(inputName).val();
        var updated = emails.replace(/,/gi, ";");
        var emailArray = updated.split(";");
        emailArray.forEach(clean_element);
        for(var i = 0; i < emailArray.length; i++){
            if(i < emailArray.length - 1){
                retVal += emailArray[i] + ",";
            } else {
                retVal += emailArray[i];
            }
        }
        return retVal;
    }

    function clean_element(item, index, arr){
        if(item.indexOf("<") != -1 && item.indexOf(">") != -1){
            arr[index] = item.substring(item.indexOf("<")+1, item.indexOf(">"));
        } 
    }    

    function admin_save(item){
        Swal.fire({
            title: 'Are you sure?',
            text: "This will update the modified fields for this scan",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#2da532',
        }).then((result) => {
            if (result.value) {            
                var cleanEmails = get_clean_emails(item);
                var release = ($("#releaseInput" + item).prop("checked") ? "True" : "False");
                $.ajax({
                        url: '../update_scan/',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            csrfmiddlewaretoken: '{{csrf_token}}',
                            hash: item,
                            user_app_name: $("#userAppNameInput" + item).val(),
                            user_app_version: $("#userAppVersionInput" + item).val(),
                            division: $("#divisionInput" + item).val(),
                            environment: $("#environmentInput" + item).val(),
                            country: $("#countryInput" + item).val(),
                            data_privacy_classification: $("#dataPrivacyClassificationInput" + item).val(),
                            data_privacy_attributes: $("#dataPrivacyAttributesInput" + item).val(),
                            email: cleanEmails,
                            release: release
                        },
                        success : function(json) {
                            if (json.result === 'success') {
                                update_labels(item);
                                admin_view(item);  
                                Swal.fire(
                                    'Updated!',
                                    'The scan has been successfully updated.',
                                    'success'
                                );
                            }
                            else {
                                Swal.fire(
                                'Scan Update Failed',
                                'Cannot update the scan!',
                                'error'
                                )
                            }
                        },
                        error : function(xhr,errmsg,err) {
                            Swal.fire(
                                'Updating Scan Failed',
                                errmsg,
                                'error'
                                )
                        }
                    });
                    
            } else {
                admin_view(item);
            }
        });
    }

    
    console.log("selectedDivision: " + selectedDivision);

    function populateDivisions() {
    var divisionsUrl = '{{tenant_static}}divisions.json';
    fetch(divisionsUrl)
      .then(response => response.json())
      .then(data => {
        var options = '<option value=""></option>';
        for (i = 0; i < data.length; i++) {
            console.log("dataName: " + data[i].name.toLowerCase());
          options += '<option value="' + data[i].id + '"' + (data[i].name.toLowerCase() == selectedDivision ? ' selected' : '') + '>' + data[i].name + '</option>';
        }
        console.log(options);
        _('division').innerHTML = options;
      });
  }

    function populateCountries() {
    var countriesUrl = '{{tenant_static}}countries.json';
    fetch(countriesUrl)
      .then(response => response.json())
      .then(data => {
        var options = '<option value="GLOBAL" selected>Global</option>';
        for (i = 0; i < data.length; i++) {
          options += '<option value="' + data[i].code + '">' + data[i].name + '</option>';
        }
        _('country').innerHTML = options;
      });
    }

    function populateDataPrivacy() {
    var privacyAttributesUrl = '{{tenant_static}}data-privacy-attributes.json';
    fetch(privacyAttributesUrl)
      .then(response => response.json())
      .then(data => {
        var options = '';
        for (i = 0; i < data.length; i++) {
          options += '<option value="' + data[i].id + '">' + data[i].id + ": " + data[i].name + '</option>';
        }
        console.log(data);
        _('data_privacy_attributes').innerHTML = options;
      });
    }
  
    $(document).ready(function() {
        populateDivisions();
        populateCountries();
        populateDataPrivacy();

        //Initialize Select2 Elements
        $('.select2').select2();
        $('.select2bs4').select2({
        theme: 'bootstrap4'
        });

        enable_diff_button(); 

        /*if ($("span.badge.bg-warning").length > 0) {
            window.setTimeout(function() {
                window.location.reload();
            }, 30000);
        } */

        $("span.scandate").each(function() {
            this.innerText = dayjs(this.innerText).format("MMM D, YYYY h:mm A")
        });
    });

</script>

{% endblock %}