{% extends "base/base_layout.html" %}
 {% block sidebar_option %}
      sidebar-collapse
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
  </div>
   <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h3 class="box-title"><i class="fa fa-search"></i> You 've searched for: <strong>{{ term }}</strong>. Found in {{ found }} files.</h3>
                    <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
            
            
                {% for m in matches %}
                      
                    <tr><td> 
                     <a href ="../ViewSource/?file={{ m }}&amp;md5={{ md5 }}&amp;type={{ typ }}">{{ m }}</a>
                     </td></tr>
                    
                    {% endfor %}  

              </table>
               </div>
          </div>
        </div>
       </div>
     </div>
    </div>
</div>
{% endblock %}
