
  {% extends "base_top_only.html" %}
   {% block content %}
    

<div class="box box-default">
     
          <div class="box-body">


        <h1>About Mobile Security Framework</h1>
      
      <p class="lead">
      Mobile Security Framework (MobSF) is an intelligent, all-in-one open source mobile application (Android/iOS) automated pen-testing framework capable of performing static and dynamic analysis. It can be used for effective and fast security analysis of Android and iOS Applications and supports both binaries (APK &amp; IPA) and zipped source code. MobSF can also perform Web API Security testing with it's API Fuzzer.</p>
      <p>Developer: <a href="//twitter.com/ajinabraham">Ajin Abraham</a></p>
          </div>
          <!-- /.box-body -->
        </div>
{% endblock %}
