

  {% extends "base_top_only.html" %}
   {% block content %}
    

<div class="box box-default">
          <div class="box-body">
 master
             <h1> نیاز به OSX</h1>
             <p class="lead">تجزیه و تحلیل امنیتی برنامه iOS نیاز به OSX دارد</p>

             <h1> Requires OSX.</h1>
             <p class="lead">iOS Application Security Analysis requires OSX. You need to install and configure MobSF in an OSX host. This won't work if you are running inside a VM or Docker Container.</p>
            
 master
          </div>
          <!-- /.box-body -->
        </div>
{% endblock %}
