
  {% extends "base_top_only.html" %}
   {% block content %}
<link href="/static/dash/css/sweetalert2.min.css" rel="stylesheet">
<script src="/static/dash/js/sweetalert2.min.js"></script>
<script>
function delete_scan(item){
  swal({
  title: 'آیا مطمن هستید برای حذف؟',
  text: "تمام نتایج تجزیه و تحلیل حذف خواهد و قابل بازیابی نیست",
  type: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'بلی',
  cancelButtonText: 'خیر',
  confirmButtonClass: 'btn btn-success',
  cancelButtonClass: 'btn btn-danger',
  buttonsStyling: true
}).then(function () {
  var md5_hash = item.id;
  $.ajax({
          url : '../delete_scan/', 
          type : 'POST',
          dataType: 'json', 
          data : {
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                  md5: md5_hash,
                  },
              success : function(json) {
                  if (json.deleted==='yes'){
                    swal({
                        title:'حذف شد!',
                        text:'تمام نتایح تجزیه و تحلیل حذف شد!',
                        type:'success',
                        confirmButtonText: 'تایید'}
                      ).then(function () {
                         location.reload();
                        })
                  }
                  else {
                    swal({
                      title:'خطا',
                      text:'حذف نتایج تجزیه و تحلیل با خطا مواجه شد',
                      type:'error', sconfirmButtonText: 'تایید'}
                    )
                  }
              },
              error : function(xhr,errmsg,err) {
                  swal(
                      'حذف نشد',
                      errmsg,
                      'error'
                    )
              }   
  });
})
}
</script>

<div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-rocket"></i> اسکن های اخیر</h3>
          </div>

          <div class="box-body">
         
              <div class="table-responsive">
                      <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>نام</th>
                                <th>MD5</th>
                                <th>گزارش</th>
                            </tr>
                        </thead>
                    <tbody>
                      {% for e in entries %}
                      <tr>
                        <td>{{ e.NAME }}</td>
                        <td>{{ e.MD5 }}</td>
                        <td><a href="../{{ e.URL }}"><i class="fa fa-eye"></i> نمایش</a> |
                        <a id="{{ e.MD5 }}" onclick="delete_scan(this)"><i class="fa fa-trash"></i> حذف</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
               </div>

          </div>
          <!-- /.box-body -->
        </div>
{% endblock %}
