
  {% extends "base_top_only.html" %}
{% load staticfiles %}
{% block extra_header %}
    <link href="/static/dash/css/sweetalert2.min.css" rel="stylesheet">
    <style>
        .selected {
            background-color: lightgreen !important;
        }

        .selectable_table tr:hover {
            background-color: lightgreen !important;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-rocket"></i> Recent Scans</h3>
        </div>

        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>App</th>
                        <th>File</th>
                        <th>Type</th>
                        <th>Hash</th>
                        <th style="width: 120px;">Date</th>
                        <th>View</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for e in entries %}
                        <tr>
                            <td>
                                <img id="app_icon" src="/download/{{ e.MD5 }}-icon.png" onerror="this.src='{% static 'img/no_icon.png' %}'">
                            </td>
                            <td>{{ e.NAME }}</td>
                            <td>
                                {% if '.apk' == e.NAME|slice:"-4:"%}<i class="fa fa-android fa-2x"></i>
                                {% elif '.ipa' == e.NAME|slice:"-4:"%}<i class="fa fa-apple fa-2x"></i>
                                {% elif '.zip' == e.NAME|slice:"-4:"%}<i class="fa fa-file-zip-o fa-2x"></i>
                                {% elif '.appx' == e.NAME|slice:"-5:"%}<i class="fa fa-windows fa-2x"></i>
                                {% endif %}
                            </td>
                            <td>{{ e.MD5 }}</td>
                            <td>{{ e.TS }}</td>
                            <td><p><a class="btn btn-info" href="../{{ e.URL }}"><i class="fa fa-eye"></i> Static Report</a>
                                </p>
                            {% if '.apk' == e.NAME|slice:"-4:"%}
                                <p><a class="btn btn-success" href="../dynamic_report/?hash={{ e.MD5  }}&amp;package={{e.PACKAGE}}"><i class="fa fa-mobile"></i> Dynamic Report</a> 
                                </p><p><a class="diffButton btn btn-warning" id="{{ e.MD5 }}_{{ e.NAME }}"><i class="fa fa-exchange"></i> Diff or Compare</a>
                                </p>
                            {% endif %}
                            </td>
                            <td> <a class="btn btn-danger" id="{{ e.MD5 }}" onclick="delete_scan(this)"><i class="fa fa-trash"></i> Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}

{% block extra_footer %}
<script src="/static/dash/js/sweetalert2.min.js"></script>
<script>
    // Diff functions
    var diff_first_md5 = '';
    var diff_first_name = '';

    // When a row is clicked, we check if we already have first scan, if so, ask for confirmation
    function enable_partner_select() {
        $('table tr').on('click', function (e) {
            e.preventDefault();
            if (diff_first_md5 == '') {
                return;
            }
            diff_confirmation($(this));
        })
    }


    function enable_diff_button(){
        $(".diffButton").on('click', function(e){
            e.stopPropagation();
            diff_select($(this));
        });
    }

    function disable_diff_button() {
        $('.diffButton').off('click');
    }

    // First pop up only saves the first scan to diff and tells the user to select a partner
    function diff_select(item) {

        swal({
            title: '<strong>Select App to Compare</strong>',
            type: 'info',
            html:
                'Please select the second scan result for comparison',
            timer: 10000
        });
        diff_first_md5 = item.attr('id').slice(0, 32);
        diff_first_name = item.attr('id').slice(33);
        item.closest("tr").addClass("selected");
        item.closest("tbody").addClass("selectable_table");

        // Enable the second partner selection
        enable_partner_select();
        disable_diff_button();
    }

    function diff_cleanup() {
        first_td_id = diff_first_md5 + '_' + diff_first_name;
        $('[id="' + first_td_id + '"]').closest("tr").removeClass("selected");
        $('[id="' + first_td_id + '"]').closest("tbody").removeClass("selectable_table");
        diff_first_md5 = "";
        diff_first_name = "";
        enable_diff_button();
    }

    // Here we get jquery row
    function diff_confirmation(item) {
        // First we need the id which has the md5 and name
        rows_tds = item.find('td');
        selected_md5 = rows_tds[3].innerText;
        if (diff_first_md5 == selected_md5) {
            return;
        }
        diff_second_md5 = selected_md5;
        diff_second_name = rows_tds[1].innerText;

        swal({
            title: '<strong>Diff confirmation</strong>',
            type: 'info',
            html:
                '<strong>Do you want to diff - </strong><br />' + diff_first_name +
                '<br /> <strong>with - <br /> </strong>' + diff_second_name + ' <br /> <strong>?</strong>',

            showCancelButton: true,
            cancelButtonText: 'cancel',
            confirmButtonText: 'Start Diffing!',
        }).then(function (json_data) {
            window.location = '/compare/' + diff_first_md5 + '/' + diff_second_md5 + '/';
        }, function (dismiss) {
            if (dismiss === 'cancel') {
                diff_cleanup();
            } else {
                diff_cleanup();
            }
        })

    }

    function delete_scan(item){
      swal({
      title: 'Are you sure?',
      text: "This will permanently remove the scan results from MobSF",
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes',
      cancelButtonText: 'No',
      confirmButtonClass: 'btn btn-success',
      cancelButtonClass: 'btn btn-danger',
      buttonsStyling: false
    }).then(function () {
      var md5_hash = item.id;
      $.ajax({
          url: '../delete_scan/',
              type : 'POST',
          dataType: 'json',
              data : {
                      csrfmiddlewaretoken: '{{ csrf_token }}',
                      md5: md5_hash,
                      },
                  success : function(json) {
                      if (json.deleted==='yes'){
                        swal(
                            'Deleted!',
                            'The scan result is deleted!',
                            'success'
                          ).then(function () {
                             location.reload();
                            })
                      }
                      else {
                        swal(
                          'Delete Failed',
                          'Cannot delete the scan result!',
                          'error'
                        )
                      }
                  },
                  error : function(xhr,errmsg,err) {
                      swal(
                          'Delete Failed',
                          errmsg,
                          'error'
                        )
                  }
      });
    })
    }

    enable_diff_button();

</script>

{% endblock %}