
  {% extends "base_top_only.html" %}
   {% block content %}
    

<div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-search"></i> You 've searched for: <strong>{{ term }}</strong>. Found in {{ found }} files.</h3>
          </div>
          <div class="box-body">
          
              <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
            
            
                {% for m in matches %}
                      
                    <tr><td> {{ m|safe }} </td></tr>
                    
                    {% endfor %}  

              </table>
               </div>

          </div>
          <!-- /.box-body -->
        </div>
{% endblock %}


