  {% extends "base_top_only.html" %}
   {% block content %}


  <script type="text/javascript" src="/static/js/highlight.min.js"></script>
    <script type="text/javascript" src="/static/js/asciidoc.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/static/css/xcode.min.css"/>
  <script>hljs.initHighlightingOnLoad();</script>

<div class="box box-default">
     
          <div class="box-body">


        <h3>{{file}} </h3>
     <pre><code class="{{ type }}">{{ dat }}</code></pre>
          </div>
          <!-- /.box-body -->
        </div>
{% endblock %}
