
  {% extends "base_top_only.html" %}
   {% block content %}
    

<div class="box box-default">
     
          <div class="box-body">

 <h1>ساختار صحیح فایل ZIP</h1>
          <p class="lead">فقط ساختار های ios  و android ( که با eclipse and Android Studio طراحی شده است)  قابل قبول است .</p>


      <p>
        <strong> پروژهای Eclipse:</strong> <br/>فایل AndroidManifest.xml و شاخه 'src' باید در دایرکتوری ریشه فایلهای ZIPPED Source برای پروژه های eclipse وجود داشته باشد.
      </p>
      <p>
        <strong> پروژهای Android Studio :</strong><br/> AndroidManifest.xml باید در 'app / src / main / AndroidManifest.xml' و شاخه "app / src / main / java /" باید برای پروژه های Android Studio وجود داشته باشد.
      </p>
      <p>
        <strong> پروژهای iOS:</strong><br/> برای پروژه های iOS، فایل .xcodeproj باید در پوشه ریشه فایل های منبع ZIPPED وجود داشته باشد.
      </p>
 
          </div>
          <!-- /.box-body -->
        </div>
{% endblock %}
