{% extends "skelton_base.html" %}
   {% block content %}
<br>  
	 <div class="page-header">
        <h1>Android Zip Source Code Instruction</h1>
      </div>
      <p>YSO Mobile Security Framework supports eclipse and Android Studio project files. The file AndroidManifest.xml and directory 'src' should be in the root directory of ZIPPED Source file for eclipse projects </br> and the file should be under 'app/src/main/AndroidManifest.xml' and directory 'app/src/main/java/' should be there for Android Studio projects.</p>
 


   {% endblock %}