<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mobile Security Framework - MobSF">
    <meta name="author" content="Ajin">
    <link rel="icon" href="/static/favicon.ico">


    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="http://fast.fonts.net/cssapi/487b73f1-c2d1-43db-8526-db577e4c822b.css" rel="stylesheet" type="text/css">
    <link href="/static/bower_components/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="/static/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="/static/bower_components/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="/static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="/static/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">
    <link href="/static/bower_components/slick-carousel/slick/slick.css" rel="stylesheet">
    <link href="/static/css/main_css.css" rel="stylesheet">
    <script src="/static/js/dropzone.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="full-screen" data-spy="scroll" data-target="#scrollspy">
<div class="">

    <header class="top-bar color-scheme-bright">
        <ul class="main-menu">
            <li class="has-sub-menu"><a href="../recent_scans">اسکن های اخیر</a></li>
            <li class="has-sub-menu"><a href="../api_docs"> مستندات API</a></li>
            <li class="sub-header"><a href="../about">درباره ما</a></li>
        </ul>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="nav navbar" role="navigation">
            <!-- Sidebar toggle button-->


            <div class="menu-page-header">


                <!--Menu Items-->


                <form class="left" role="search" action="/search" method="GET">
                    <div class="form-group">
                        <input type="text" name="md5" class="form-control" id="navbar-search-input"
                               placeholder="جستجو MD5">
                    </div>
                </form>
                <!-- Control Sidebar Toggle Button -->
                <!--
                <li>
                  <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i> Console</a>
                </li>
              -->

            </div>
        </nav>
    </header>


    <!-- Full Width Column -->
    <div class="content-box">
        <div class="content-panel-active">

            <!-- Main content -->
            <section class="element-box">
                {% block content %}
                {% endblock %}

            </section>
            <!-- /.content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->


    <!-- Control Sidebar -->

</div><!-- ./wrapper -->

<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script src="/static/bower_components/moment/moment.js"></script>
<script src="/static/bower_components/chart.js/dist/Chart.min.js"></script>
<script src="/static/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="/static/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script src="/static/bower_components/ckeditor/ckeditor.js"></script>
<script src="/static/bower_components/bootstrap-validator/dist/validator.min.js"></script>
<script src="/static/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/static/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
<script src="/static/bower_components/dropzone/dist/dropzone.js"></script>
<script src="/static/bower_components/editable-table/mindmup-editabletable.js"></script>
<script src="/static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/static/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="/static/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/static/bower_components/tether/dist/js/tether.min.js"></script>
<script src="/static/bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="/static/bower_components/bootstrap/js/dist/util.js"></script>
<script src="/static/bower_components/bootstrap/js/dist/alert.js"></script>
<script src="/static/bower_components/bootstrap/js/dist/button.js"></script>
<script src="/static/bower_components/bootstrap/js/dist/carousel.js"></script>
<script src="/static/bower_components/bootstrap/js/dist/collapse.js"></script>
<script src="/static/bower_components/bootstrap/js/dist/dropdown.js"></script>
<script src="/static/bower_components/bootstrap/js/dist/modal.js"></script>
<script src="/static/bower_components/bootstrap/js/dist/tab.js"></script>
<script src="/static/bower_components/bootstrap/js/dist/tooltip.js"></script>
<script src="/static/bower_components/bootstrap/js/dist/popover.js"></script>
<script src="/static/js/demo_customizer-version=4.4.1.js"></script>
<script src="/static/js/main-version=4.4.1.js"></script>
</body>
</html>

