{% extends "skelton_base.html" %}
   {% block content %}
</br>  
	 <div class="page-header">
      </div> 
    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-list-alt"></span> JAVA SOURCE</h3>
                            </div>
                            <form class="navbar-form navbar-right" action="../Search/" method="POST">
                               {% csrf_token %} 
                            Find in files: <input type="text" name="q" class="form-control" placeholder="Find....">
                            <input type="hidden" name="md5" value="{{md5}}">
                            <input type="hidden" name="code" value="java">
                           </form>
                            <div class="panel-body">
								  <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <tbody>
										{{ files | safe}}
										</tbody>
										</table>
                                
                            </div>
                        </div>
                    </div>
					</div>
   {% endblock %}