
  {% extends "base_top_only.html" %}
   {% block content %}
    
  <script type="text/javascript" src="/static/js/shCore.js"></script>
  <script type="text/javascript" src="/static/js/shBrushJava.js"></script>
  <link type="text/css" rel="stylesheet" href="/static/css/shCoreDefault.css"/>
  <script type="text/javascript">SyntaxHighlighter.all();</script>

<div class="box box-default">
     
          <div class="box-body">


        <h3>{{file}} </h3>
  <pre class="brush: java;" >
      {{ dat }}
     </pre>
          </div>
          <!-- /.box-body -->
        </div>
{% endblock %}
