
  {% extends "base_top_only.html" %}
   {% block content %}
    

<div class="box box-default">
     
          <div class="box-body">

 <h1>Zipped Source Code Instruction</h1>
          <p class="lead">Mobile Security Framework supports iOS and Android (eclipse and Android Studio) project files.</p>  


      <p>
        <strong>Eclipse Project:</strong> The file AndroidManifest.xml and the directory 'src' must exist in the root directory of ZIPPED Source files for eclipse projects.
      </p>
      <p>
        <strong> Android Studio Project:</strong> AndroidManifest.xml must be located at 'app/src/main/AndroidManifest.xml' and the directory 'app/src/main/java/' must exist for Android Studio projects. 
      </p>
      <p>
        <strong>iOS Project:</strong> For iOS projects, the .xcodeproj file must exist in the root directory of the ZIPPED Source files.
      </p>
 
          </div>
          <!-- /.box-body -->
        </div>
{% endblock %}
