
   {% block content %}
<style>
body {
    font: normal 30px Verdana, Arial, sans-serif;
}

</style>
<h1 align="center" class="page-header">Static Analysis - {{file_name}} </h1>
<hr>
 <div class="col-lg-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="glyphicon glyphicon-file"></span> APP SCORE</h3><hr>
                            </div>

                            <div class="panel-body">
                                <div class="list-group">
                  <p>                                       
                     <span class="label label-primary"><b>Average CVSS Score: </b>{{ average_cvss }}</span></p>
                  <p>
                     <span class="label label-primary"><b>App Security Score: </b>{{ security_score }}/100</span>

                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr>

                  <div class="col-lg-7">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> <span class="glyphicon glyphicon-file"></span> FILE INFORMATION</h3>
                                <hr>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <p>
                                       <span class="label label-primary"><b>File Name: </b></span>
                                    {{ file_name }}
                                    </p>
                                    <p>
                                       <span class="label label-primary"><b>Size: </b></span>
                                    {{ size }}
                                   </p><p>
                                       <span class="label label-primary"><b>MD5: </b></span>
                                    {{ md5 }}

                                   </p><p>
                                     <span class="label label-primary"><b>SHA1: </b></span>
                                    {{ sha1 }}

                                     </p><p>
                                     <span class="label label-primary"><b>SHA256: </b></span>
                                    {{ sha256 }}
                                </div>

                            </div>
                        </div>
                    </div>
    <hr>
                <div class="col-lg-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> <span class="glyphicon glyphicon-phone"></span> APP INFORMATION</h3>
                                <hr>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <p>
                                    <span class="label label-primary"><b>App Name: </b></span>
                                    {{ app_name }}
                                    </p>
                                     <p>
                                    <span class="label label-primary"><b>Identifier: </b></span>
                                    {{ bundle_id }}
                                    </p><p>
                                    <span class="label label-primary"><b>Version: </b></span>
                                    {{ app_version }}

                                    </p>
                                    <p>
                                      <span class="label label-primary"><b>Build: </b></span>
                                          {{ build }}
                                     </p>
                                      <p>
                                    <span class="label label-primary"><b>SDK Name: </b></span>
                                    {{ sdk_name }}</p><p>
                                    <span class="label label-primary"><b>Platform Version: </b></span>
                                    {{ platform }}
                                    </p><p>
                                   <span class="label label-primary"><b>Min OS Version: </b></span>
                                    {{ min_os_version }}

                                    </p> <p>
                                     <span class="badge bg-primary">Supported Platforms</span>
                                    {% for pl in bundle_supported_platforms %}
                                      {{pl}},
                                    {% endfor %}
                                    </p>

                                </div>

                            </div>
                        </div>
                    </div>
                   <hr>

                <div class="col-lg-12">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> <span class="glyphicon glyphicon-phone"></span> APP STORE INFORMATION</h3>
                          <hr>
                      </div>
                      <div class="panel-body">
                          <div class="list-group">
            {% if not appstore_details.error %}
                  <p>                                       
                    <span class="label label-info"><b>Title: </b></span>
                    {{ appstore_details.title }}
                  </p>
                  <p>                                       
                    <span class="label label-info"><b>Score: </b></span>
                  {{ appstore_details.score}}

                   <span class="label label-info"><b>Features: </b></span>
                    {% for fea in appstore_details.features %}
                    {{ fea }}, 
                    {% endfor %}

                   <span class="label label-info"><b>Price: </b></span>
                      {{ appstore_details.price }}
                    <span class="label label-info"><b>Category: </b></span>
                    {% for cat in appstore_details.category %}
                    {{ cat }}, 
                    {% endfor %}

                    <span class="label label-info"><b>App Store URL: </b></span>
                      <a target="_blank" href="{{ appstore_details.itunes_url }}"> {{ appstore_details.app_id }} </a>
                  </p>
                  
                  <p>
                  <span class="label label-info"><b>Developer: </b></span>
                      {{appstore_details.developer}}
                   <span class="label label-info"><b>Developer ID: </b></span>
                    {{appstore_details.developer_id}} 
                  </p>
                  <p>
                    <span class="label label-info"><b>Developer Website: </b></span>
                      {{appstore_details.developer_website }}
                    <span class="label label-info"><b>Developer URL: </b></span>
                      {{appstore_details.developer_url}}, 
                  </p>
                  <p>
                     <span class="label label-info"><b>Support Devices: </b></span>
                    {% for dev in appstore_details.supported_devices %}
                    {{ dev }}, 
                    {% endfor %}
                  </p>
                 <p>                                       
                      <span class="label label-info"><b>Description: </b></span>
                      <pre>{{ appstore_details.description }}</pre>
                  </p>
              {%  endif  %}
             </div>
                            </div>
                        </div>
                    </div>
       <hr>
        <div class="col-lg-12">
         <div class="panel panel-default">
           <div class="panel-heading">
             <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="fa fa-mobile"></span> URL SCHEMES</h3><hr>
           </div>
           <div class="panel-body">
             {% if bundle_url_types|length > 0 %}
             <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">

                  <thead>
                      <tr>
                          <th>URL NAME</th>
                          <th>SCHEMES</th>
                      </tr>
                  </thead>
                  <tbody>

                    {% for scheme in bundle_url_types %}
                    <tr>
                      <td>
                           {{scheme | key:"CFBundleURLName" }}
                        {% if scheme|key:"CFBundleTypeRole" %}
                           <br>
                            {{scheme | key:"CFBundleTypeRole" }}
                        {% endif %}
                      </td>
                      <td>
                        {% if scheme|key:"CFBundleURLSchemes" %}
                        {% for ul in scheme.CFBundleURLSchemes %}
                           {{ul}} <br/>
                        {% endfor %}
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
           </div>
            {% else %}
              <p>
                No URL Schemes found.
            </p>
            {% endif %}
           </div>
         </div>
       </div> <hr>
        <div class="col-lg-12">
         <div class="panel panel-default">
           <div class="panel-heading">
             <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="fa fa-mobile"></span> PERMISSIONS</h3><hr>
           </div>
           <div class="panel-body">
             {% if permissions|length > 0 %}
             <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">

                  <thead>
                      <tr>
                          <th>PERMISSIONS</th>
                          <th>DESCRIPTION</th>
                          <th>REASON IN MANIFEST</th>
                      </tr>
                  </thead>
                  <tbody>

                    {% for  perm in permissions %}
                    <tr>
                      <td>
                        {{ perm.name }}
                      </td>
                      <td>
                        {{ perm.description}}
                      </td>
                      <td>
                        {{ perm.reason }}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
             </div>
             {% else %}
             <div class="list-group">
                 <p>
                 <span class="label label-primary">No permissions required.</span>
                 </p>
               </div>

             {% endif %}
           </div>
         </div>
       </div> <hr>

       <div class="col-lg-12">
         <div class="panel panel-default">
           <div class="panel-heading">
             <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="fa fa-mobile"></span> APP TRANSPORT SECURITY (ATS)</h3><hr>
           </div>

           <div class="panel-body">
             <div class="table-responsive">
               <table class="table table-bordered table-hover table-striped">

                  <thead>
                      <tr>
                        <th>ISSUE</th>
                        <th>STATUS</th>
                        <th>DESCRIPTION</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% if ats_analysis|length > 0 %}
                      {% for findings in ats_analysis %}
                      <tr>
                        <td>
                         {{findings.issue}}
                        <td>
                          <span class="badge bg-danger"> {{findings.status}}</span>
                        </td>
                        <td>
                         {{findings.description}}
                        </td>
                      </tr>
                      {% endfor %}
                    {% else %}
                    <tr>
                      <td>
                        No ATS exceptions found.
                      <td>
                        <span class="badge bg-success">secure</span>
                      </td>
                      <td>
                        No insecure connections configured. App Transport Security (ATS) is enabled.
                      </td>
                    </tr>
                    {% endif %}
                  </tbody>
              </table>
                     </div>
                   <!-- /.box-body -->
                 </div>
               </div>
             </div><hr>


             <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-warning-sign"></span> CODE ANALYSIS</h3>
                                <hr>
                            </div>
                            <div class="panel-body">
                  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                         <thead>
                                            <tr>
                                                <th>ISSUE</th>
                                                <th>SEVERITY</th>
                                                <th>CVSS</th>
                                                <th>CWE</th>
                                                <th>OWASP</th>
                                                <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                     {% for issue, details in code_analysis.items %}
                  <tr>
                  <td>
                  {{ issue }}
                  </td>
                  <td>
                    {% if details|key:"level" == "high" %}
                      <span class="label label-danger">high</span>
                      {% elif details|key:"level" == "good" %}
                      <span class="label label-success">secure</span>
                      {% elif details|key:"level" == "warning" %}
                      <span class="label label-warning">warning</span>
                      {% elif details|key:"level" == "info" %}
                      <span class="label label-info">info</span>
                      {% endif %}
                  </td>
                   <td><b>{{ details|key:"cvss" }}</b></td>
                  <td><b>{{ details|key:"cwe" }}</b></td>
                  <td><b>{{ details|key:"owasp" }}</b></td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewFile/?file={{ path }}&md5={{ md5 }}&type=m&mode=ios"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>    
              {% endfor %} 
                    </tbody>
                    </table>

                            </div>
                        </div>
                    </div>
          </div>
          <hr>
  <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-tasks"></span> iOS API</h3>
                                <hr>
                            </div>
                            <div class="panel-body">
                  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
            <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                     {% for desc, details in ios_api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewFile/?file={{ path }}&md5={{ md5 }}&type=m&mode=ios"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>    
              {% endfor %} 
                    </tbody>
                    </table>

                            </div>
                        </div>
                    </div>
          </div>
<hr>
              <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-globe"></span> URLS</h3><hr>
                            </div>
                            <div class="panel-body">
                  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                         {% if urls %} 
                  <thead>
                  <tr>
                     <th>URL</th>
                     <th>File</th>
                  </tr>
                 </thead>
                  {% endif %}
                 <tbody>
                
                
                  {% for urldict in urls %}
                    <tr>
                       <td>
                       {% for u in urldict|key:"urls" %}
                         {{ u }}
                       {% endfor %}
                        </td>

                       <td>
                          <a href="../ViewFile/?file={{urldict|key:"path"}}&md5={{ md5}}&type=m&mode=ios">{{urldict|key:"path"}}</a>
                          
                       </td>
                    </tr>
                  {% endfor %} 
                    </tbody>
                    </table>

                            </div>
                        </div>
                    </div>
          </div>
    <hr>
              <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-globe"></span> FIREBASE DATABASES</h3><hr>
                            </div>
                            <div class="panel-body">
                  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                 {% if firebase_urls %} 
                  <thead>
                  <tr>
                     <th>URL</th>
                     <th>Database URL</th>
                  </tr>
                 </thead>
                    {% endif %}
                                        <tbody>
                
                 
                  {% for item in firebase_urls %}
                    <tr>
                       <td>
                       {{ item.url }}
                        </td>

                       <td>
                         {% if item.open %}
                          <span class="label label-danger">insecure</span></br>Firebase DB is exposed publically.
                        {% else %}
                         <span class="label label-primary">Info</span></br>App talks to a Firebase Database.
                         {% endif %}
                      
                       </td>
                    </tr>
                  {% endfor %} 
                    </tbody>
                    </table>
                                
                            </div>
                        </div>
                    </div>
          </div>
          
          <hr>

           <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-screenshot"></span> MALWARE CHECK</h3><hr>
                            </div>
                            <div class="panel-body">
                  <div class="table-responsive">
                                    <table id="table_malware" class="table table-bordered table-hover table-striped">
                  <thead>
                  <tr>
                     <th>DOMAIN</th>
                     <th>STATUS</th>
                     <th>GEOLOCATION</th>
                  </tr>
                 </thead>
                 <tbody>
                 {% for domain, details in domains.items %}
                  <tr><td>{{domain}}</td><td> 

                    {% if details|key:"bad" == "yes" %}
                    <span class="badge bg-danger">malware</span><br/>
                      <pre>
                      <strong>URL: </strong>{{details|key:"domain_or_url"}}
                      <strong>IP: </strong><span class="badge bg-danger">{{details|key:"ip"}}</span>
                      <strong>Description: </strong>{{details|key:"desc"}}
                      </pre>
                  {% else %}
                    <span class="badge bg-success">good</span><br/>
                  {% endif %}
                  </td>
                  <td>
                    {% if details|key:"geolocation" %}
                      <strong>IP: </strong>{{details|key:"geolocation"|key:"ip"}}  <br/>
                      <strong>Country: </strong>{{details|key:"geolocation"|key:"country_long"}} <br/>
                      <strong>Region: </strong>{{details|key:"geolocation"|key:"region"}} <br/>
                      <strong>City: </strong>{{details|key:"geolocation"|key:"city"}} <br/>
                      <strong>Latitude: </strong>{{details|key:"geolocation"|key:"latitude"}} <br/>
                      <strong>Longitude: </strong>{{details|key:"geolocation"|key:"longitude"}} <br/>
                      <strong>View: <a target="_blank" href="http://maps.google.com/maps?q={{details|key:"geolocation"|key:"latitude"}},{{details|key:"geolocation"|key:"longitude"}}">Google Map</a>

                    {% else %}
                    No Geolocation information available.
                    {% endif %}
                  </td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>

                            </div>
                        </div>
                    </div>
          </div><hr>

                  <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-envelope"></span> EMAILS</h3><hr>
                            </div>
                            <div class="panel-body">
                  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                         {% if emails %} 
                  <thead>
                  <tr>
                     <th>Email</th>
                     <th>File</th>
                  </tr>
                 </thead>
                 {% endif %}
                 <tbody>
                                        <tbody>
                
                 {% for email_dict in emails %}
                    <tr>
                       <td>
                       {% for e in email_dict|key:"emails" %}
                         {{ e }}
                       {% endfor %}
                        </td>

                       <td>
                          <a href="../ViewFile/?file={{email_dict|key:"path"}}&md5={{ md5}}&type=m&mode=ios">{{email_dict|key:"path"}}</a>   
                       </td>
                    </tr>
                  {% endfor %} 
                    </tbody>
                    </table>

                            </div>
                        </div>
                    </div>
          </div><hr>
  <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-lock"></span> FILE ANALYSIS</h3><hr>
                            </div>
                            <div class="panel-body">
                  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>ISSUE</th>
                                                <th>FILES</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                    {% for item in file_analysis %}
                    <tr>
                      <td>
                        {{ item.issue }}
                      </td>
                      <td>
                        {% for file in item.files %}
                                  {{ file.file_path }}
                                </br>
                        {% endfor %}
                      </td>
                  
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>

                            </div>
                        </div>
                    </div>
          </div> 
                    <hr><hr>
                     <h3 align="center"> Report Generated by - MobSF | http://opensecurity.in</h3>




   {% endblock %}
