
   {% block content %}
<style>
body {
    font: normal 30px Verdana, Arial, sans-serif;
}

</style>
<h1 align="center" class="page-header">Static Analysis - {{name}} </h1>
<hr>

                  <div class="col-lg-7">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> <span class="glyphicon glyphicon-file"></span> FILE INFORMATION</h3>
                                <hr>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <p>
                                       <span class="label label-primary"><b>File Name: </b></span>
                                    {{ name }}
                                    </p>
                                    <p>
                                       <span class="label label-primary"><b>Size: </b></span>
                                    {{ size }}
                                   </p><p>
                                       <span class="label label-primary"><b>MD5: </b></span>
                                    {{ md5 }}

                                   </p><p>
                                     <span class="label label-primary"><b>SHA1: </b></span>
                                    {{ sha1 }}

                                     </p><p>
                                     <span class="label label-primary"><b>SHA256: </b></span>
                                    {{ sha256 }}
                                </div>

                            </div>
                        </div>
                    </div>
    <hr>
                <div class="col-lg-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> <span class="glyphicon glyphicon-phone"></span> APP INFORMATION</h3>
                                <hr>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <p>
                                    <span class="label label-primary"><b>App Name: </b></span>
                                    {{ bin_name }}
                                    </p>
                                     <p>
                                    <span class="label label-primary"><b>Identifier: </b></span>
                                    {{ id }}
                                    </p><p>
                                    <span class="label label-primary"><b>Version: </b></span>
                                    {{ ver }}

                                    </p>
                                      <p>
                                    <span class="label label-primary"><b>SDK Name: </b></span>
                                    {{ sdk }}</p><p>
                                    <span class="label label-primary"><b>Platform Version: </b></span>
                                    {{ pltfm }}
                                    </p><p>
                                   <span class="label label-primary"><b>Min OS Version: </b></span>
                                    {{ min }}

                                    </p>

                                </div>

                            </div>
                        </div>
                    </div>
       <hr>
        <div class="col-lg-12">
         <div class="panel panel-default">
           <div class="panel-heading">
             <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="fa fa-mobile"></span> PERMISSIONS</h3><hr>
           </div>
           <div class="panel-body">
             {% if permissions|length > 0 %}
             <div class="table-responsive">
               <table class="table table-bordered table-hover table-striped">
                 <thead>
                   <tr>
                     <th>Permissions</th>
                     <th>Description</th>
                     <th>Reason in Manifest</th>
                   </tr>
                 </thead>
                 <tbody>
                   {%for perm in permissions%}
                   <tr>
                     <td>
                       {{ perm.0 | safe }}
                     </td>
                     <td>
                       {{ perm.1 | safe }}
                     </td>
                     <td>
                       {{ perm.2 | safe }}
                     </td>
                   </tr>
                   {% endfor %}
                 </tbody>
               </table>
             </div>
             {% else %}
             <div class="list-group">
                 <p>
                 <span class="label label-primary">No permissions required.</span>
                 </p>
               </div>

             {% endif %}
           </div>
         </div>
       </div> <hr>

       <div class="col-lg-12">
         <div class="panel panel-default">
           <div class="panel-heading">
             <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="fa fa-mobile"></span> App Transport Security (ATS)</h3><hr>
           </div>

           <div class="panel-body">
             <div class="table-responsive">
               <table class="table table-bordered table-hover table-striped">
                 <thead>
                   <tr>
                     <th>ISSUE</th>
                     <th>STATUS</th>
                     <th>DESCRIPTION</th>
                   </tr>
                 </thead>
                 <tbody>
                   {% if insecure_connections|length > 0 %}
                     {%for con in insecure_connections%}
                     <tr>
                       <td>
                         Exception in NSAppTransportSecurity found.
                       <td>
                         Insecure
                       </td>
                       <td>
                          App Transport Security (ATS) is disabled on the domain '{{ con }}'. Disabling ATS can allow insecure communication with particular servers or allow insecure loads for web views or for media, while maintaining ATS protections elsewhere in your app.
                       </td>
                     </tr>
                     {% endfor %}
                   {% else %}
                   <tr>
                     <td>
                       None
                     <td>
                       Secure
                     </td>
                     <td>
                       No insecure connections configured. App Transport Security (ATS) is enabled.
                     </td>
                   </tr>
                   {% endif %}
                 </tbody>
                     </table>
                     </div>
                   <!-- /.box-body -->
                 </div>
               </div>
             </div><hr>


             <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-warning-sign"></span> CODE ANALYSIS</h3>
                                <hr>
                            </div>
                            <div class="panel-body">
                  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                         <thead>
                                            <tr>
                                                <th>ISSUE</th>
                                                <th>STATUS</th>
                                                <th>DESCRIPTION</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                     {% for issue, details in insecure.items %}
                  <tr>
                  <td>
                  {{ issue }}
                  </td>
                  <td>
                    {% if details|key:"level" == "high" %}
                      <span class="label label-danger">high</span>
                      {% elif details|key:"level" == "good" %}
                      <span class="label label-success">secure</span>
                      {% elif details|key:"level" == "warning" %}
                      <span class="label label-warning">warning</span>
                      {% elif details|key:"level" == "info" %}
                      <span class="label label-info">info</span>
                      {% endif %}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewFile/?file={{ path }}&md5={{ md5 }}&type=m&mode=ios"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>    
              {% endfor %} 
                    </tbody>
                    </table>

                            </div>
                        </div>
                    </div>
          </div>
          <hr>
  <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-tasks"></span> iOS API</h3>
                                <hr>
                            </div>
                            <div class="panel-body">
                  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
            <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                     {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewFile/?file={{ path }}&md5={{ md5 }}&type=m&mode=ios"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>    
              {% endfor %} 
                    </tbody>
                    </table>

                            </div>
                        </div>
                    </div>
          </div>
<hr>
              <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-globe"></span> URLS</h3><hr>
                            </div>
                            <div class="panel-body">
                  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                         {% if urls %} 
                  <thead>
                  <tr>
                     <th>URL</th>
                     <th>File</th>
                  </tr>
                 </thead>
                  {% endif %}
                 <tbody>
                
                
                  {% for urldict in urls %}
                    <tr>
                       <td>
                       {% for u in urldict|key:"urls" %}
                         {{ u }}
                       {% endfor %}
                        </td>

                       <td>
                          <a href="../ViewFile/?file={{urldict|key:"path"}}&md5={{ md5}}&type=m&mode=ios">{{urldict|key:"path"}}</a>
                          
                       </td>
                    </tr>
                  {% endfor %} 
                    </tbody>
                    </table>

                            </div>
                        </div>
                    </div>
          </div><hr>

           <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-screenshot"></span> Malware Check</h3><hr>
                            </div>
                            <div class="panel-body">
                  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                     {% if urls %}
                  <thead>
                  <tr>
                     <th>Domain</th>
                     <th>Status</th>
                  </tr>
                 </thead>
                  {% endif %}
                 <tbody>

                  {% for domain, details in domains.items %}
                  <tr><td>{{domain}}</td><td>

                    {% if details|key:"bad" == "yes" %}
                    <span class="label label-danger">malware</span></br>
<pre>
<strong>URL: </strong>{{details|key:"domain_or_url"}}
<strong>IP: </strong><span class="label label-danger">{{details|key:"ip"}}</span>
<strong>Description: </strong>{{details|key:"desc"}}
</pre>
                  {% else %}
                    <span class="label label-success">good</span></br>
                  {% endif %}


                  </td> </tr>
                  {% endfor %}

                    </tbody>
                    </table>

                            </div>
                        </div>
                    </div>
          </div><hr>

                  <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-envelope"></span> EMAILS</h3><hr>
                            </div>
                            <div class="panel-body">
                  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                         {% if emails %} 
                  <thead>
                  <tr>
                     <th>Email</th>
                     <th>File</th>
                  </tr>
                 </thead>
                 {% endif %}
                 <tbody>
                                        <tbody>
                
                 {% for email_dict in emails %}
                    <tr>
                       <td>
                       {% for e in email_dict|key:"emails" %}
                         {{ e }}
                       {% endfor %}
                        </td>

                       <td>
                          <a href="../ViewFile/?file={{email_dict|key:"path"}}&md5={{ md5}}&type=m&mode=ios">{{email_dict|key:"path"}}</a>   
                       </td>
                    </tr>
                  {% endfor %} 
                    </tbody>
                    </table>

                            </div>
                        </div>
                    </div>
          </div><hr>
  <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-lock"></span> FILE ANALYSIS</h3><hr>
                            </div>
                            <div class="panel-body">
                  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>ISSUE</th>
                                                <th>FILES</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                    {{ file_analysis | safe}}
                    </tbody>
                    </table>

                            </div>
                        </div>
                    </div>
          </div> 
<hr>
              <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-folder-open"></span> FILES</h3><hr>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                  <p>
                {% for file in files %}
                  {{ file}} <br>
                {% endfor %}

                  </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <hr><hr>
                     <h3 align="center"> Report Generated by - MobSF | http://opensecurity.in</h3>




   {% endblock %}
