
   {% block content %}
<style>
body {
    font: normal 30px Verdana, Arial, sans-serif;
}

</style>
<h1 align="center" class="page-header">Static Analysis - {{name}} </h1>
<hr>

                  <div class="col-lg-7">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> <span class="glyphicon glyphicon-file"></span> FILE INFORMATION</h3><hr>
                            </div>

                            <div class="panel-body">
                                <div class="list-group">
									<p>                                       
									   <span class="label label-primary"><b>Name: </b></span>
                                    {{ name }}
                                    </p>
									<p>
                                       <span class="label label-primary"><b>Size :</b></span>
                                    {{ size }}
                                   </p><p>
                                       <span class="label label-primary"><b>MD5: </b></span>
                                    {{ md5 }}
                                    
                                   </p><p>
								     <span class="label label-primary"><b>SHA1: </b></span>
                                    {{ sha1 }}
                                  
									 </p><p>
								     <span class="label label-primary"><b>SHA256: </b></span>
                                    {{ sha256 }}
                                </div>
                                
                            </div>
                        </div>
                    </div>
<hr>
                  <div class="col-lg-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> <span class="glyphicon glyphicon-phone"></span> APP INFORMATION</h3><hr>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
									<p>                                       
									   <span class="label label-primary"><b>Package Name: </b></span>
                                    {{ packagename }}
                                    </p>
									<p>
                                       <span class="label label-primary"><b>Main Activity: </b></span>
                                    {{ mainactivity }}
                                   </p><p>
                                       <span class="label label-primary"><b>Target SDK: </b></span>
                                    {{ targetsdk }}
                                    </p><p>
								     <span class="label label-primary"><b>Min SDK: </b></span>
                                    {{ minsdk }}
                                  </p><p>
									
								     <span class="label label-primary"><b>Max SDK: </b></span>
                                    {{ maxsdk }}
									</p><p>
									<span class="label label-primary"><b>Android Version Name: </b></span>
                                    {{ androvername }}
									</p><p>
									<span class="label label-primary"><b>Android Version Code: </b></span>
                                    {{ androver }}
									</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <hr>
                        </div>
                  		  <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> <span class="glyphicon glyphicon-eye-close"></span> CERTIFICATE</h3><hr>
                            </div>
                            <div class="panel-body">
                            <pre>
                              {{ certinfo | safe}}

{% if issued == "good" %} 
<strong>Certicate Status: </strong><span class="label label-success">Good</span>
{% elif issued == "bad" %}
<strong>Certicate Status: </strong><span class="label label-danger">Bad</span>
<strong>Description:</strong>App Signed by 'Android Debug' Certificate.
Production ready applications should not be signed with 'Android Debug' Certificate.
{% elif issued == "missing" %}
<strong>Certicate Status: </strong><span class="label label-warning">Certificate not found</span>
{% elif issued == "bad hash" %}
<strong>Certicate Status: </strong><span class="label label-danger">Bad</span>
<strong>Description:</strong>The app is signed with `SHA1withRSA`. SHA1 hash algorithm is known to have collision issues.
{% endif %}
                            </pre>
                            </div>
                        </div>
                    </div> 
                    <hr>
					<div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-ok"></span> PERMISSIONS</h3><hr>
                            </div>
                            <div class="panel-body">
								  <div class="table-responsive">
                    <table>
                      <thead>
                    <tr>
                        <th>PERMISSION</th>
                        <th>INFO </th>
                        <th>DESCRIPTION</th>
                      </tr>
                                        </thead>
                                        <tbody>
                    {% for perm,desc in permissions.items %}
                    <tr>
                    <td>{{ perm }} ({{ desc.0 }})</td>
                    <td>{{ desc.1 }}</td>
                    <td>{{ desc.2 }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                                
                            </div>
                        </div>
                    </div>
					</div>
                    <hr>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class=""></span> ANDROID LIBRARY BINARY ANALYSIS</h3><hr>
                            </div>
                            <div class="panel-body">
                  <div class="table-responsive">
                     <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>ISSUE</th>
                                                <th>SEVERITY</th>
                                                <th>DESCRIPTION</th>
                                                <th>FILES</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                    {% for item in binary_analysis %}
                      <tr>
                        <td>
                        {{item|key:"title" | safe}}
                        </td>
                        <td>
                          {% if item|key:"stat" == "high" %}
                            <span class="label label-danger">high</span>
                          {% elif item|key:"stat" == "info" %}
                            <span class="label label-info">info</span>
                          {% elif item|key:"stat" == "medium" %}
                            <span class="label label-warning">medium</span>
                          {% endif %}
                         
                        </td>
                        <td>
                        {{item|key:"desc"}}
                        </td>
                        <td>
                        {{item|key:"file"}}
                        </td>
   
                       </tr>
                     {% endfor %}
                    </tbody>
                    </table>

                            </div>
                        </div>
                    </div>
                    </div>
                    <hr>

                    <!-- ============================================================= -->
        {% if VT_RESULT %}
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <h3 class="panel-title"><i class="fa fa-bug"></i>VirusTotal Report</h3><hr>
                        </div>
                        <div class="panel-body">
                        <p> {{ VT_RESULT.positives }} / {{ VT_RESULT.total }}&nbsp; AVs found this file Malicious! </p>
                        {% if VT_RESULT.positives %}
                          <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>AV</th>
                                                        <th>Detection</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for av_name,av_result in VT_RESULT.scans.items %}
                                                    {% if av_result.detected == True %}
                                                       <tr>
                                                            <td>
                                                                {{ av_name }}
                                                            </td>
                                                           <td>
                                                                <span class="label label-danger">{{ av_result.result }}</span>
                                                            </td>
                                                      </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                </table>
                          </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
        {% endif %}

                    <!-- ============================================================= -->

                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                 <h3 class="panel-title"><i class="fa fa-bug"></i> DEX MALWARE ANALYSIS</h3><hr>
                            </div>
                            <div class="panel-body">
                  <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>ANTI-VM</th>
                                                <th>COMPILER</th>
                                                <th>OBFUSCATOR</th>
                                                <th>PACKER</th>
                                                <th>DROPPER</th>
                                                <th>MANIPULATOR</th>
                                                <th>ANTI-ASSEMBLY</th>
                                                <th>ABNORMAL PATTERN</th>
                                                
                                            </tr>
                                        </thead>


                                        <tbody>
                     
            
                      {% if apkid|key:"apkid_version" %}
                       <tr>
                       
                        <td>
                            {% if apkid|key:"anti_vm" == "" %}
                              <span class="label label-info">No Anti-VM Code</span>
                            {% else %}
                              <span class="label label-info">Anti-VM Code Found</span></br>
                              {% for cmp in apkid|key:"anti_vm" %}
                               {{cmp}}</br>
                              {% endfor %}
                            {% endif %}

                        </td>
                  
                        <td>
                          {% if apkid|key:"compiler" == "" %}
                              <span class="label label-info">Cannot Identify Compiler</span>
                            {% else %}
                               <span class="label label-info">Compiler Found</span></br>
                              {% for cmp in apkid|key:"compiler" %}
                               {{cmp}}</br>
                              {% endfor %}
                            {% endif %}
                        </td>
                 
                        <td>
                          {% if apkid|key:"obfuscator" == "" %}
                              <span class="label label-info">No Obfuscator Found</span>
                            {% else %}
                              <span class="label label-info">Obfuscator Found</span></br>
                              {% for cmp in apkid|key:"obfuscator" %}
                               {{cmp}}</br>
                              {% endfor %}
                            {% endif %}
                        </td>

                        <td>
                          {% if apkid|key:"packer" == "" %}
                              <span class="label label-success">No Packer Found</span>
                            {% else %}
                              <span class="label label-danger">Packer Found</span></br>
                              {% for cmp in apkid|key:"packer" %}
                               {{cmp}}</br>
                              {% endfor %}
                            {% endif %}
                        </td>

                        <td>
                          {% if apkid|key:"dropper" == "" %}
                              <span class="label label-success">No Dropper Found</span>
                            {% else %}
                             <span class="label label-danger">Dropper Found</span></br>
                              {% for cmp in apkid|key:"dropper" %}
                               {{cmp}}</br>
                              {% endfor %}
                            {% endif %}
                        </td>

                        <td>
                          {% if apkid|key:"manipulator" == "" %}
                              <span class="label label-info">No Manipulator Found</span>
                            {% else %}
                             <span class="label label-info">Manipulator Found</span></br>
                              {% for cmp in apkid|key:"manipulator" %}
                               {{cmp}}</br>
                              {% endfor %}
                            {% endif %}
                        </td>

                        <td>
                          {% if apkid|key:"anti_disassembly" == "" %}
                              <span class="label label-success">No Anti-Disassembly Code</span>
                            {% else %}
                              <span class="label label-danger">Anti-Disassembly Code Found</span></br>
                              {% for cmp in apkid|key:"anti_disassembly" %}
                               {{cmp}}</br>
                              {% endfor %}
                          {% endif %}
                        </td>

                        <td>
                          {% if apkid|key:"abnormal" == "" %}
                              <span class="label label-success">No Abnormal Pattern Found</span>
                            {% else %}
                              <span class="label label-danger">Abnormal Pattern Found</span></br>
                              {% for cmp in apkid|key:"abnormal" %}
                               {{cmp}}</br>
                              {% endfor %}
                            {% endif %}
                        </td>
                        
                      </tr>
                      {% else %}
                      <p align="center"><strong>APKiD not enabled.</strong></p>
                      {% endif %}
       
                    </tbody>
                    </table>

                            </div>
                  <div class="box-body">
                      {% if apkid|key:"apkid_version" %}
                       <strong> APKiD: </strong>{{ apkid|key:"apkid_version" }}
                      {% endif %}
                      </div>
                  </div>
                        </div>
                    </div>
                    </div>
                    <hr>

                         <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class=""></i><span class=""></span> BROWSABLE ACTIVITIES</h3><hr>

                            </div>
                            <div class="panel-body">
                                  <div class="table-responsive">
                                   <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>ACTIVITY</th>
                                                <th>INTENT</th>   
                                            </tr>
                                        </thead>
                                        <tbody>
                      {% for activity,intent_details in browsable_activities.items %}
                          <tr>
                            <td>{{activity}}</td>
                            <td>
                                   {% if intent_details|key:"schemes" %}
                                      <strong>Schemes</strong>: 
                                      {% for scheme in intent_details|key:"schemes" %}
                                        {{scheme}},
                                      {% endfor %}
                                       </br>
                                   {% endif %}
                                   {% if intent_details|key:"hosts" %}
                                      <strong>Hosts:</strong> {% for host in intent_details|key:"hosts" %}
                                        {{host}},
                                      {% endfor %} 
                                      </br>
                                   {% endif %}
                                   {% if intent_details|key:"ports" %}
                                      <strong>Ports:</strong> {% for port in intent_details|key:"ports" %}
                                        {{port}},
                                      {% endfor %} 
                                      </br>
                                   {% endif %}
                                   {% if intent_details|key:"mime_types" %}
                                      <strong>Mime Types:</strong> {% for mime in intent_details|key:"mime_types" %}
                                        {{mime}},
                                      {% endfor %} 
                                      </br>
                                   {% endif %}
                                   {% if intent_details|key:"paths" %}
                                      <strong>Paths:</strong> {% for path in intent_details|key:"paths" %}
                                        {{path}},
                                      {% endfor %} 
                                      </br>
                                   {% endif %}
                                   {% if intent_details|key:"path_prefixs" %}
                                      <strong>Path Prefixes:</strong> {% for prefix in intent_details|key:"path_prefixs" %}
                                        {{prefix}},
                                      {% endfor %} 
                                      </br>
                                   {% endif %}
                                   {% if intent_details|key:"path_patterns" %}
                                      <strong>Path Patterns:</strong> {% for pattern in intent_details|key:"path_patterns" %}
                                        {{pattern}},
                                      {% endfor %} 
                                      </br>
                                   {% endif %}
                              {% endfor %}
                            </td>
                          </tr>
                    </tbody>
                    </table>
                                
                            </div>
                        </div>
                    </div>
                    </div>
<hr>
			<div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-search"></span> MANIFEST ANALYSIS</h3><hr>

                            </div>
                            <div class="panel-body">
								  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>ISSUE</th>
                                                <th>SEVERITY</th>
												<th>DESCRIPTION</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
									  {% for item in manifest %}
                      <tr>
                        <td>
                        {{item|key:"title" | safe}}
                        </td>
                        <td>

                          {% if item|key:"stat" == "high" %}
                            <span class="label label-danger">high</span>
                          {% elif item|key:"stat" == "info" %}
                            <span class="label label-info">info</span>
                          {% elif item|key:"stat" == "medium" %}
                            <span class="label label-warning">medium</span>
                          {% endif %}
                         
                        </td>
                        <td>
                        {{item|key:"desc"}}
                        </td>
   
                       </tr>
                     {% endfor %}


										</tbody>
										</table>
                                
                            </div>
                        </div>
                    </div>
					</div>
<hr>

       
						<div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-warning-sign"></span> CODE ANALYSIS</h3><hr>
                            </div>
                            <div class="panel-body">
								  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>ISSUE</th>
                                                <th>SEVERITY</th>
												<th>FILES</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
										{% for issue, details in findings.items %}
                  <tr>
                  <td>
                  {{ issue }}
                  </td>
                  <td>
                    {% if details|key:"level" == "high" %}
                      <span class="label label-danger">high</span>
                      {% elif details|key:"level" == "good" %}
                      <span class="label label-success">secure</span>
                      {% elif details|key:"level" == "warning" %}
                      <span class="label label-warning">warning</span>
                      {% elif details|key:"level" == "info" %}
                      <span class="label label-info">info</span>
                      {% endif %}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>    
              {% endfor %} 
										</tbody>
										</table>
                                
                            </div>
                        </div>
                    </div>
					</div>		
                    <hr>
	<div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-tasks"></span> ANDROID API</h3><hr>
                            </div>
                            <div class="panel-body">
								  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                
                                                <th>API</th>
												<th>FILES</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
										{% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>    
              {% endfor %} 
										</tbody>
										</table>
                                
                            </div>
                        </div>
                    </div>
					</div>
	<hr>
					    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-globe"></span> URLS</h3><hr>
                            </div>
                            <div class="panel-body">
								  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        {% if urls %} 
                  <thead>
                  <tr>
                     <th>URL</th>
                     <th>File</th>
                  </tr>
                 </thead>
                    {% endif %}
                                        <tbody>
								
									{% for urldict in urls %}
                    <tr>
                       <td>
                       {% for u in urldict|key:"urls" %}
                         {{ u }}
                       {% endfor %}
                        </td>

                       <td>
                          <a href="../ViewSource/?file={{urldict|key:"path"}}&md5={{ md5}}&type=apk">{{urldict|key:"path"}}</a>
                          
                       </td>
                    </tr>
                  {% endfor %} 
										</tbody>
										</table>
                                
                            </div>
                        </div>
                    </div>
					</div>
                    <hr>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-screenshot"></span> MALWARE CHECK</h3><hr>
                            </div>
                            <div class="panel-body">
                                  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        {% if urls %} 
                  <thead>
                  <tr>
                     <th>Domain</th>
                     <th>Status</th>
                  </tr>
                 </thead>
                  {% endif %}
                                      <tbody>
                
                  {% for domain, details in domains.items %}
                  <tr><td>{{domain}}</td><td> 

                    {% if details|key:"bad" == "yes" %}
                    <span class="label label-danger">malware</span></br>
<pre>
<strong>URL: </strong>{{details|key:"domain_or_url"}}
<strong>IP: </strong><span class="label label-danger">{{details|key:"ip"}}</span>
<strong>Description: </strong>{{details|key:"desc"}}
</pre>
                  {% else %}
                    <span class="label label-success">good</span></br>
                  {% endif %}


                  </td> </tr>
                  {% endfor %}
                   
                    </tbody>
                                        </table>
                                
                            </div>
                        </div>
                    </div>
                    </div>
                    <hr>
							    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-envelope"></span> EMAILS</h3><hr>
                            </div>
                            <div class="panel-body">
								  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        {% if emails %} 
                  <thead>
                  <tr>
                     <th>Email</th>
                     <th>File</th>
                  </tr>
                 </thead>
                 {% endif %}
                                        <tbody>
								
									{% for email_dict in emails %}
                    <tr>
                       <td>
                       {% for u in email_dict|key:"emails" %}
                         {{ e }}
                       {% endfor %}
                        </td>

                       <td>
                          <a href="../ViewSource/?file={{email_dict|key:"path"}}&md5={{ md5}}&type=apk">{{email_dict|key:"path"}}</a>
                          
                       </td>
                    </tr>
                  {% endfor %} 
										</tbody>
										</table>
                                
                            </div>
                        </div>
                    </div>
					</div>
							<hr>		    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-lock"></span> FILE ANALYSIS</h3><hr>
                            </div>
                            <div class="panel-body">
								  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                              <thead>
                                            <tr>
                                                <th>ISSUE</th>
                                                <th>FILES</th>
                                            </tr>
                                        </thead>
                                        <tbody>
								
									{{ certz | safe}} 
										</tbody>
										</table>
                                
                            </div>
                        </div>
                    </div>
					</div>
  			<hr><div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span> STRINGS</h3><hr>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
									<p>  
								  
										{% for val in strings %}
									    
										 {{ val }}<br>
										
										{% endfor %}									
																
									
									</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
							<hr>
                   <div class="col-lg-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-credit-card"></span> ACTIVITIES</h3><hr>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
									<p>  
								{% for act in activities %}
									{{ act}} <br>
								{% endfor %}									
									
									</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
          <hr><div class="col-lg-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-hdd"></span> PROVIDERS</h3><hr>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
									<p>  
								{% for prv in providers %}
									{{ prv}} <br>
								{% endfor %}									
									
									</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
			<hr>		<div class="col-lg-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-sort-by-attributes-alt"></span> RECEIVERS</h3><hr>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
									<p>  
								{% for rcv in receivers %}
									{{ rcv}} <br>
								{% endfor %}									
									
									</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
			<hr>		<div class="col-lg-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-refresh"></span> SERVICES</h3><hr>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
									<p>  
								{% for srv in services %}
									{{ srv}} <br>
								{% endfor %}									
									
									</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
			<hr>			<div class="col-lg-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-chevron-down"></span> LIBRARIES</h3><hr>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
									<p>  
								{% for lib in libraries %}
									{{ lib }} <br>
								{% endfor %}									
									
									</p>
                                </div>
                                
                            </div>
                        </div>
                    </div><hr>  <div class="col-lg-7">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span class="glyphicon glyphicon-folder-open"></span> FILES</h3><hr>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <p>  
                                {% for file in files %}
                                    {{ file}} <br>
                                {% endfor %}                                    
                                    
                                    </p>
                                </div>
                                
                            </div>
                        </div>
                    </div>

	<hr><hr>
    <h3 align="center"> Report Generated by - MobSF | http://opensecurity.in</h3>
		   
		   
       
      
   {% endblock %}
