{% extends "base/base_layout.html" %}
{% load static %}
{% block sidebar_option %}
sidebar-collapse
{% endblock %}
{% block content %}
<div class="content-wrapper">
   <div class="content-header">
   </div>
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                  <div class="h-100 d-flex align-items-center justify-content-center">
                     <div class="login-box">
                        <div class="login-logo">
                           <a href="">Choose a new password</a>
                        </div>
                        <div class="card">
                           <div class="card-body login-card-body">
                              {% if validlink %}
                              <form method="post">
                                 {% csrf_token %}
                                 {{ form.non_field_errors }}
                                 <div class="input-group mb-3">
                                    <input type="password" name="new_password1" class="form-control" placeholder="New password" autocomplete="new-password" required id="id_new_password1">
                                    <div class="input-group-append">
                                       <div class="input-group-text">
                                          <span class="fas fa-lock"></span>
                                       </div>
                                    </div>
                                 </div>
                                 {% for err in form.new_password1.errors %}
                                 <small> {{ err }} </small><br>
                                 {% endfor %}
                                 <div class="input-group mb-3">
                                    <input type="password" name="new_password2" class="form-control" placeholder="Confirm password" autocomplete="new-password" required id="id_new_password2">
                                    <div class="input-group-append">
                                       <div class="input-group-text">
                                          <span class="fas fa-lock"></span>
                                       </div>
                                    </div>
                                 </div>
                                 {% for err in form.new_password2.errors %}
                                 <small> {{ err }} </small><br>
                                 {% endfor %}
                                 {% if password_help_texts %}
                                 <div class="alert alert-info" role="alert">
                                    <ul class="mb-0 small">
                                       {% for text in password_help_texts %}
                                       <li>{{ text }}</li>
                                       {% endfor %}
                                    </ul>
                                 </div>
                                 {% endif %}
                                 <div class="row">
                                    <div class="col-12">
                                       <button type="submit" class="btn btn-primary btn-block">Update password</button>
                                    </div>
                                 </div>
                              </form>
                              {% else %}
                              <p class="text-center">This password reset link is invalid or has expired. Please request a new reset email.</p>
                              <div class="col-12 text-center mt-3">
                                 <a href="{% url 'password_reset' %}" class="btn btn-primary">Request a new link</a>
                              </div>
                              {% endif %}
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
