{% extends "base/base_layout.html" %}
{% load static %}
{% block sidebar_option %}
sidebar-collapse
{% endblock %}
{% block content %}
<div class="content-wrapper">
   <div class="content-header">
   </div>
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body text-center">
                  <h2 class="mb-3">Password updated</h2>
                  <p>Your password has been reset successfully. You can now sign in with your new credentials.</p>
                  <a href="{% url 'login' %}" class="btn btn-primary">Proceed to sign in</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
