{% extends "base/base_layout.html" %}
{% block sidebar_option %}
sidebar-collapse
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h1>Quick Start</h1>

            <p class="lead">
              A user guide on how to use the Cyberspect solution can be found at the link below.
            </p>
            <p><a href="{{tenant_static}}Cyberspect%20Quick%20Start.pdf" target="_blank">Cyberspect Quick Start Guide</a></p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h1>API Documentation</h1>

            <p class="lead">
              <a href="https://www.postman.com/" target="_blank">Postman</a> collection and environment files that document the Cyberspect REST API.
            </p>
            <p><a href="{{tenant_static}}api/Cyberspect%20API.postman_collection.json" target="_blank" download>Postman Collection File</a></p>
            <p><a href="{{tenant_static}}api/Cyberspect%20Upload.postman_collection.json" target="_blank" download>Postman Collection File (upload only)</a></p>
            <p><a href="{{tenant_static}}api/Cyberspect%20API.postman_environment.json" target="_blank" download>Postman Environment File</a></p>
          </div>
        </div>        
        <div class="card">
          <div class="card-body">
            <h1>Technical Support</h1>

            <p class="lead">
              For technical assistance please email the address below and include any information relevant to the issue or question you have.
            </p>
            <p><a href="mailto:cyberspectsupport@syslogicinc.com">cyberspectsupport@syslogicinc.com</a></p>
          </div>
        </div>
        {% with is_admin_flag=is_admin|default:False %}
        {% if is_admin_flag %}        
        <div class="card">
          <div class="card-body">
            <h1>Admin Guide</h1>

            <p class="lead">
              An administrative guide on how to use the Cyberspect solution can be found at the link below.
            </p>
            <p><a href="{{tenant_static}}Cyberspect%20Admin%20Guide.pdf" target="_blank">Cyberspect Admin Guide</a></p>
          </div>
        </div>
        {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>
{% endblock %}