name: 'Publish multi-platform docker image'

on:
    push:
        branches:
            - master

jobs:
    buildx:
        runs-on: ubuntu-latest
        steps:
        -
            name: Checkout
            uses: actions/checkout@v2
        -
            name: Dockerhub login
            env:
                DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
                DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
            run: |
                echo "${DOCKER_TOKEN}" | docker login --username ${DOCKER_USERNAME} --password-stdin
        - 
            name: Set up QEMU
            uses: docker/setup-qemu-action@v1
        -   
            name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v1
        -
            name: Build dockerfile (with push)
            run: |
                docker buildx build \
                --platform=linux/amd64,linux/arm/v7,linux/arm64 \
                --output "type=image,push=true" \
                --file ./Dockerfile . \
                --tag opensecurity/mobile-security-framework-mobsf:multiple
